# New project

#### Import Python tools

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd
import numpy as np
import altair as alt
import altair_stiles as altstiles
import requests
import json
from bs4 import BeautifulSoup

In [3]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 100
pd.options.display.max_colwidth = None

In [4]:
alt.themes.register("stiles", altstiles.theme)
alt.themes.enable("stiles")

ThemeRegistry.enable('stiles')

In [5]:
today = pd.Timestamp("today").strftime("%Y-%m-%d")

---

## XyXyXy

#### XyXyXy

In [7]:
for year in range(2004, 2025):
    print(f"https://www.spc.noaa.gov/climo/summary/{year}/ruf/NAT/NAT.json")

https://www.spc.noaa.gov/climo/summary/2004/ruf/NAT/NAT.json
https://www.spc.noaa.gov/climo/summary/2005/ruf/NAT/NAT.json
https://www.spc.noaa.gov/climo/summary/2006/ruf/NAT/NAT.json
https://www.spc.noaa.gov/climo/summary/2007/ruf/NAT/NAT.json
https://www.spc.noaa.gov/climo/summary/2008/ruf/NAT/NAT.json
https://www.spc.noaa.gov/climo/summary/2009/ruf/NAT/NAT.json
https://www.spc.noaa.gov/climo/summary/2010/ruf/NAT/NAT.json
https://www.spc.noaa.gov/climo/summary/2011/ruf/NAT/NAT.json
https://www.spc.noaa.gov/climo/summary/2012/ruf/NAT/NAT.json
https://www.spc.noaa.gov/climo/summary/2013/ruf/NAT/NAT.json
https://www.spc.noaa.gov/climo/summary/2014/ruf/NAT/NAT.json
https://www.spc.noaa.gov/climo/summary/2015/ruf/NAT/NAT.json
https://www.spc.noaa.gov/climo/summary/2016/ruf/NAT/NAT.json
https://www.spc.noaa.gov/climo/summary/2017/ruf/NAT/NAT.json
https://www.spc.noaa.gov/climo/summary/2018/ruf/NAT/NAT.json
https://www.spc.noaa.gov/climo/summary/2019/ruf/NAT/NAT.json
https://www.spc.noaa.gov/climo/summary/2020/ruf/NAT/NAT.json
https://www.spc.noaa.gov/climo/summary/2021/ruf/NAT/NAT.json
https://www.spc.noaa.gov/climo/summary/2022/ruf/NAT/NAT.json
https://www.spc.noaa.gov/climo/summary/2023/ruf/NAT/NAT.json
https://www.spc.noaa.gov/climo/summary/2024/ruf/NAT/NAT.json

In [8]:
# Function to fetch data from a given URL and return the 'torn' values for each month
def fetch_tornado_data(url):
    response = requests.get(url)
    data = response.json()
    monthly_data = data.get("month", {})
    torn_values = []

    for month, measures in monthly_data.items():
        torn_value = measures.get("torn", None)
        if torn_value is not None:
            torn_values.append({"Month": int(month), "Torn": torn_value})

    return torn_values


# URL pattern for tornado data
base_url = "https://www.spc.noaa.gov/climo/summary/{year}/ruf/NAT/NAT.json"

# Create an empty DataFrame to store the data
tornado_df = pd.DataFrame()

# Loop over years from 2000 to the current year
for year in range(2000, 2025):  # Update the end year accordingly
    url = base_url.format(year=year)

    try:
        # Fetch torn values for each month for the current year
        torn_values = fetch_tornado_data(url)

        # Create a DataFrame for the current year
        year_df = pd.DataFrame(torn_values)

        # Add a new column for the year
        year_df["Year"] = year

        # Concatenate the current year's data to the main DataFrame
        tornado_df = pd.concat([tornado_df, year_df], ignore_index=True)

        print(f"Processed data for {year}")

    except Exception as e:
        print(f"Error fetching data for {year}: {e}")

# Display the resulting DataFrame
print(tornado_df.head())

Processed data for 2000
Error fetching data for 2001: Expecting value: line 1 column 1 (char 0)
Error fetching data for 2002: Expecting value: line 1 column 1 (char 0)
Error fetching data for 2003: Expecting value: line 1 column 1 (char 0)
Processed data for 2004
Processed data for 2005
Processed data for 2006
Processed data for 2007
Processed data for 2008
Processed data for 2009
Processed data for 2010
Processed data for 2011
Processed data for 2012
Processed data for 2013
Processed data for 2014
Processed data for 2015
Processed data for 2016
Processed data for 2017
Processed data for 2018
Processed data for 2019
Processed data for 2020
Processed data for 2021
Processed data for 2022
Processed data for 2023
Processed data for 2024
   Month  Torn  Year
0      1     0  2000
1      2     0  2000
2      3     0  2000
3      4     0  2000
4      5     0  2000

In [10]:
tornado_df[tornado_df["Year"] == 2024]

     Month  Torn  Year
252      1    45  2024
253      2    52  2024
254      3    21  2024
255      4     0  2024
256      5     0  2024
257      6     0  2024
258      7     0  2024
259      8     0  2024
260      9     0  2024
261     10     0  2024
262     11     0  2024
263     12     0  2024

---

## XyXyXy

#### XyXyXy