# How often has 'QAnon' been mentioned on Twitter?

## Python tools and notebook config

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd
import altair as alt
import altair_stiles as altstiles
import pytz

In [3]:
alt.themes.register("stiles", altstiles.theme)
alt.themes.enable("grid")

ThemeRegistry.enable('grid')

In [4]:
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 1000
pd.options.display.max_colwidth = None

---

## Tweet counts

#### Get data with Twarc2

In [5]:
# !twarc2 counts --granularity 'day' qanon --archive --csv data/raw/qanon.csv

#### Read data

In [36]:
src = pd.read_csv("data/raw/qanon.csv")

#### Clean up dates and columns in dataframe

In [37]:
src["date"] = pd.to_datetime(src["start"]).dt.strftime("%Y-%m-%d")

In [38]:
src.drop(["start", "end"], axis=1, inplace=True)

In [39]:
src.rename(columns={"day_count": "tweets"}, inplace=True)

#### Make a copy of our new clean dataframe

In [40]:
df = (
    src[src["date"] > "2017-01-01"][["date", "tweets"]]
    .sort_values("date", ascending=False)
    .copy()
)

#### First five rows

In [41]:
df.head()

          date  tweets
30  2022-03-30    7440
29  2022-03-29   21953
28  2022-03-28   10377
27  2022-03-27   15229
26  2022-03-26   14386

In [42]:
df.tail()

            date  tweets
1903  2017-01-06      34
1902  2017-01-05      30
1901  2017-01-04      68
1900  2017-01-03     126
1899  2017-01-02      46

#### Chart the counts

In [43]:
alt.Chart(df).mark_bar(size=1).encode(
    x=alt.X("date:T", axis=alt.Axis(format="%b. %Y", tickCount=5), title=" "),
    y=alt.Y("tweets", axis=alt.Axis(tickCount=6), title=" "),
).properties(title="Daily mentions of 'QAnon' on Twitter, 2017-present")

In [45]:
df[df["tweets"] == df["tweets"].max()]

           date  tweets
554  2020-10-16  298054

---

## Exports

In [44]:
df.to_csv("data/processed/tweet_counts_qanon_2017_present.csv", index=False)