# US Bureau of Labor Statistics: Employment situation

#### Import Python tools

In [2]:
%load_ext lab_black

In [5]:
import requests
import pandas as pd
import json
import prettytable

In [5]:
import altair as alt
import altair_stiles as altstiles

In [6]:
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 1000

In [7]:
month = pd.Timestamp("today").strftime("%Y-%m")

---

## Read data

#### Import table from the bureau's API

In [8]:
headers = {"Content-type": "application/json"}
data = json.dumps({"seriesid": ["LNS14000000"], "startyear": "2011", "endyear": "2022"})

p = requests.post(
    "https://api.bls.gov/publicAPI/v2/timeseries/data/", data=data, headers=headers
)
json_data = json.loads(p.text)

In [34]:
for series in json_data['Results']['series']:
    x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
        if 'M01' <= period <= 'M12':
            x.add_row([seriesId,year,period,value,footnotes[0:-1]])
    output = open(seriesId + '.txt','w')
    output.write (x.get_string())
    output.close()

In [34]:
total_nonfarm.to_json(
    f"data/processed/monthly_employment_situation_total_nonfarm_latest.json",
    indent=4,
    orient="records",
)