# CPI: Cost of Eggs

#### Import Python tools

In [2]:
%load_ext lab_black

In [3]:
import pandas as pd
import numpy as np
import altair as alt
import altair_stiles as altstiles
import requests
import json
from bs4 import BeautifulSoup

In [4]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 100
pd.options.display.max_colwidth = None

In [5]:
alt.themes.register("stiles", altstiles.theme)
alt.themes.enable("stiles")

ThemeRegistry.enable('stiles')

In [6]:
today = pd.Timestamp("today").strftime("%Y-%m-%d")

---

## Read data

#### Import json from our [BLS/CPI bot](https://github.com/turnercode/cnnvis-cronbot/tree/main/bots/inflation)

In [8]:
src = pd.read_json("https://ix.cnn.io/data/inflation/eggs_latest.json")

In [13]:
slim = src[["date", "value", "series_title"]].copy()

In [14]:
slim.head()

,date,value,series_title
0,2023-04-01,3.270,"Eggs, grade A, large, per doz. in U.S. city average, average price, not seasonally adjusted"
1,2023-03-01,3.446,"Eggs, grade A, large, per doz. in U.S. city average, average price, not seasonally adjusted"
2,2023-02-01,4.211,"Eggs, grade A, large, per doz. in U.S. city average, average price, not seasonally adjusted"
3,2023-01-01,4.823,"Eggs, grade A, large, per doz. in U.S. city average, average price, not seasonally adjusted"
4,2022-12-01,4.250,"Eggs, grade A, large, per doz. in U.S. city average, average price, not seasonally adjusted"

---

## Export

#### Just the data and value

In [15]:
slim.to_csv("data/processed/eggs_us_city_average.csv", index=False)