# FRED indicators: Monthly change in nonfarm payroll

#### Load python tools

In [1]:
%load_ext lab_black

In [2]:
import altair as alt
import altair_stiles as altstiles
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [3]:
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 1000
alt.data_transformers.disable_max_rows()
alt.themes.register("stiles", altstiles.theme)
alt.themes.enable("grid")

ThemeRegistry.enable('grid')

In [4]:
today = pd.to_datetime("today").strftime("%Y-%m-%d")

---

## Monthly jobs numbers, seasonally adjusted, in thousands

#### Read latest data from FRED ([PAYEMS](https://fred.stlouisfed.org/series/PAYEMS))

In [5]:
url = f"https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=1168&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=PAYEMS&scale=left&cosd=1939-01-01&coed=2022-06-01&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=2&ost=-99999&oet=99999&mma=0&fml=a&fq=Monthly&fam=avg&fgst=lin&fgsnd=2020-02-01&line_index=1&transformation=lin&vintage_date={today}&revision_date={today}&nd=1939-01-01"

In [6]:
jobs_src = pd.read_csv(
    url, parse_dates=["date"], names=["date", "value"], header=0
).sort_values("date", ascending=False)

In [7]:
jobs_src["indicator"] = "all employees, total nonfarm"

In [8]:
jobs_src["value"] = jobs_src["value"] * 1000

#### Calculate change

In [9]:
jobs_src["value_change"] = jobs_src["value"].diff(periods=-1)

In [10]:
jobs_src.head()

           date      value                     indicator  value_change
1001 2022-06-01  151980000  all employees, total nonfarm      372000.0
1000 2022-05-01  151608000  all employees, total nonfarm      384000.0
999  2022-04-01  151224000  all employees, total nonfarm      368000.0
998  2022-03-01  150856000  all employees, total nonfarm      398000.0
997  2022-02-01  150458000  all employees, total nonfarm      714000.0

In [11]:
jobs_src["date"] = pd.to_datetime(jobs_src["date"])

In [12]:
jobs_df = jobs_src.copy()

In [13]:
jobs_df.head()

           date      value                     indicator  value_change
1001 2022-06-01  151980000  all employees, total nonfarm      372000.0
1000 2022-05-01  151608000  all employees, total nonfarm      384000.0
999  2022-04-01  151224000  all employees, total nonfarm      368000.0
998  2022-03-01  150856000  all employees, total nonfarm      398000.0
997  2022-02-01  150458000  all employees, total nonfarm      714000.0

#### N years ago from most recent update?

In [14]:
max_date = jobs_df["date"].max().strftime("%Y-%m-%d")

In [15]:
two_yrs_ago = pd.to_datetime(max_date) - relativedelta(years=2)

In [16]:
two_yrs_ago

Timestamp('2020-06-01 00:00:00')

---

In [17]:
alt.Chart(jobs_df[jobs_df["date"] >= two_yrs_ago]).mark_bar().encode(
    x="date:T", y="value_change"
)

alt.Chart(...)

---

## Exports

In [18]:
jobs_df.to_csv("data/processed/fred-jobs-change-monthly.csv", index=False)

In [19]:
jobs_df[jobs_df["date"] >= two_yrs_ago].to_csv(
    "data/processed/fred-jobs-change-monthly.csv", index=False
)

In [20]:
print(
    "Done processing monthly change in nonfarm payroll! Two CSVs exported successfully."
)

Done processing monthly change in nonfarm payroll! Two CSVs exported successfully.