# FRED: Quarterly real GDP change

#### Load python tools

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd

In [3]:
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 1000

----

## Get data

#### Read [FRED CSV](https://fred.stlouisfed.org/series/A191RL1Q225SBEA) with latest GPD percentage change
Percent change from preceding period, seasonally adjusted annual rate

In [4]:
url = "https://fred.stlouisfed.org/graph/fredgraph.csv?&drp=0&mode=fred&ts=12&tts=12&nt=0&thu=0&trc=0&id=A191RL1Q225SBEA&scale=left&cosd=1947-04-01&fq=Quarterly&fam=avg&fgst=lin&fgsnd=2020-02-01&line_index=1&transformation=lin&vintage_date=2024-02-03&revision_date=2024-02-03&nd=1947-04-01"

In [5]:
df = pd.read_csv(url, parse_dates=["DATE"]).rename(
    columns={"DATE": "quarter_start", "A191RL1Q225SBEA": "gdp_change"}
)

#### Dates

In [6]:
df["quarter_end"] = pd.to_datetime(df["quarter_start"]) + pd.DateOffset(months=2)
df["quarter_figure"] = df["quarter_end"].dt.to_period("Q").astype(str)
df["quarter"] = df["quarter_figure"].str.replace("Q", "q")

In [7]:
df.head()

  quarter_start  gdp_change quarter_end quarter_figure quarter
0    1947-04-01        -1.0  1947-06-01         1947Q2  1947q2
1    1947-07-01        -0.8  1947-09-01         1947Q3  1947q3
2    1947-10-01         6.4  1947-12-01         1947Q4  1947q4
3    1948-01-01         6.2  1948-03-01         1948Q1  1948q1
4    1948-04-01         6.8  1948-06-01         1948Q2  1948q2

In [8]:
df.tail()

    quarter_start  gdp_change quarter_end quarter_figure quarter
302    2022-10-01         2.6  2022-12-01         2022Q4  2022q4
303    2023-01-01         2.2  2023-03-01         2023Q1  2023q1
304    2023-04-01         2.1  2023-06-01         2023Q2  2023q2
305    2023-07-01         4.9  2023-09-01         2023Q3  2023q3
306    2023-10-01         3.3  2023-12-01         2023Q4  2023q4

---

## Exports

#### CSV

In [9]:
df.to_csv("data/processed/gdp_quarterly_annual_sa_fred.csv", index=False)

---

## Metadata

Source: U.S. Bureau of Economic Analysis  Release: Gross Domestic Product  
Units:  Percent Change from Preceding Period, Seasonally Adjusted Annual Rate

Frequency:  Quarterly

BEA Account Code: A191RL

Gross domestic product (GDP) is the value of the goods and services produced by the nation's economy less the value of the goods and services used up in production. GDP is also equal to the sum of personal consumption expenditures, gross private domestic investment, net exports of goods and services, and government consumption expenditures and gross investment. Real values are inflation-adjusted estimates—that is, estimates that exclude the effects of price changes.

For more information about this series, please visit the Bureau of Economic Analysis.

Suggested Citation:
U.S. Bureau of Economic Analysis, Real Gross Domestic Product [A191RL1Q225SBEA], retrieved from FRED, Federal Reserve Bank of St. Louis; https://fred.stlouisfed.org/series/A191RL1Q225SBEA, January 28, 2024.