# Esri ZIP Codes with race/ethnicity

In [1]:
import pandas as pd
import geopandas as gpd

### Read data

#### ZIP Codes file with race/ethnicity demographics

In [2]:
# From: https://services.arcgis.com/P3ePLMYs2RVChkJx/ArcGIS/rest/services/USA_ZIP_Codes/FeatureServer/0

In [3]:
zips_race = gpd.read_file('https://grid-news-static-files.s3.us-east-2.amazonaws.com/data/demogragrphics_zips.geojson')

In [4]:
zips_race.columns = zips_race.columns.str.strip().str.lower().str.replace(' ', '_', regex=False)\
                    .str.replace('(', '', regex=False).str.replace(')', '', regex=False).str.replace('-','_', regex=False)

In [5]:
# zips_race[['objectid', 'zip', 'po_name', 'pop2012', 'white', 'black', 'ameri_es',
#        'asian', 'hawn_pi', 'hispanic', 'other', 'mult_race', 'med_age',
#        'ave_hh_sz', 'marhh_chd', 'families', 'ave_fam_sz', 'hse_units', 'sqmi']].to_csv('data/ca-zip-codes-esri-demographics.csv', index=False)

#### Drop places without a population total

In [6]:
zips = zips_race[zips_race['pop2012'] > 0].copy()

In [7]:
zips.head()

,fid,objectid,zip,po_name,state,pop2010,pop10_sqmi,pop2012,pop12_sqmi,white,...,mhh_child,fhh_child,families,ave_fam_sz,hse_units,vacant,owner_occ,renter_occ,sqmi,geometry
1,2,500,73737,Fairview,OK,3577,10.7,3599,10.8,3369,...,34,94,1029,2.78,1821,275,1165,381,333.3,"POLYGON ((-98.76304 36.44684, -98.75651 36.447..."
3,4,501,73739,Goltry,OK,342,5.6,354,5.8,327,...,3,4,97,2.92,178,35,114,29,61.4,"POLYGON ((-98.10930 36.60817, -98.10929 36.593..."
4,5,102,99661,Sand Point,AK,1033,2.2,986,2.1,177,...,24,30,183,2.84,327,56,160,111,461.0,"MULTIPOLYGON (((-160.71030 55.40308, -160.7037..."
5,6,502,73741,Helena,OK,1677,14.6,1741,15.1,1292,...,6,18,196,2.86,358,76,212,70,115.2,"POLYGON ((-98.34233 36.66658, -98.34000 36.666..."
6,7,503,73742,Hennessey,OK,4424,12.5,4366,12.4,3509,...,45,97,1217,3.15,1878,218,1311,349,353.5,"POLYGON ((-98.10388 36.16487, -98.09735 36.165..."

In [8]:
ca_zips = zips[zips['state'] == 'CA']

In [10]:
ca_zips_slim = ca_zips[['objectid', 'zip', 'po_name', 'pop2012', 'white', 'black', 'ameri_es','asian', 'hawn_pi', 'hispanic', 'other', 'mult_race', 'med_age', 'ave_hh_sz', 'marhh_chd', 'families', 'ave_fam_sz', 'hse_units', 'sqmi']]

In [13]:
ca_zips_slim.head()

,objectid,zip,po_name,pop2012,white,black,ameri_es,asian,hawn_pi,hispanic,other,mult_race,med_age,ave_hh_sz,marhh_chd,families,ave_fam_sz,hse_units,sqmi
4006,4800,94002,Belmont,26832,19634,477,84,5762,221,3517,1170,1744,41.0,2.42,2925,7671,2.98,12304,5.9
4016,4801,94010,Burlingame,41102,31610,482,93,10244,188,5133,1865,2166,42.6,2.43,4798,12179,3.06,20020,13.0
4017,4900,93442,Morro Bay,10873,9395,47,104,281,10,1602,645,322,48.9,2.09,593,2749,2.70,6609,43.2
4023,4901,93445,Oceano,7633,4683,60,114,155,7,3389,1477,283,34.7,2.86,541,1582,3.42,2871,2.0
4024,4802,94015,Daly City,61575,14279,2138,168,35940,482,9775,4520,2939,39.0,3.10,4637,13991,3.54,20103,5.7

In [14]:
ca_zips_slim.to_csv('data/processed/ca_zips_demographics.csv', index=False)