# Analyzing Los Angeles public safety helicopter flights

### Load Python tools

In [9]:
import pandas as pd
import geopandas as gpd
import matplotlib
import geofeather
import matplotlib.pyplot as plt
import geojson
import json
import glob
import io
import os
import pyarrow
from shapely.geometry import Point, LineString

### Read the positions — or flight transponder waypoints — data

In [10]:
# data exported from '00-processing-bulk-flightradar24-data.ipynb'
src = pd.read_feather('/Users/mhustiles/data/data/helicopters/all_positions.feather')

In [11]:
src.head()

,index,altitude,heading,latitude,longitude,speed,squawk,flightid,flight_id,date,month,weekday,time
0,0,500,310,33.97671,-118.26622,0,0,20190128_525530318,525530318,01/28/2019,1,Monday,10:08:30
1,1,575,237,34.05377,-118.23032,36,0,20191018_579082629,579082629,10/17/2019,10,Friday,18:21:43
2,2,675,268,34.05359,-118.23167,46,0,20191018_579082629,579082629,10/17/2019,10,Friday,18:21:49
3,3,875,299,34.05492,-118.23851,67,0,20191018_579082629,579082629,10/17/2019,10,Friday,18:22:09
4,4,900,306,34.05597,-118.24036,65,0,20191018_579082629,579082629,10/17/2019,10,Friday,18:22:15

In [ ]:
geo = gpd.GeoDataFrame(src, \
                geometry=gpd.points_from_xy(src['longitude'], src['latitude']))

In [12]:
lapd = geo[geo['owner'] == '']

In [15]:
geo.to_file('/Users/mhustiles/data/data/helicopters/all_positions_geo.geojson', driver='GeoJSON')

,index,altitude,heading,latitude,longitude,speed,squawk,flightid,flight_id,date,month,weekday,time
0,0,500,310,33.97671,-118.26622,0,0,20190128_525530318,525530318,01/28/2019,1,Monday,10:08:30
1,1,575,237,34.05377,-118.23032,36,0,20191018_579082629,579082629,10/17/2019,10,Friday,18:21:43
2,2,675,268,34.05359,-118.23167,46,0,20191018_579082629,579082629,10/17/2019,10,Friday,18:21:49
3,3,875,299,34.05492,-118.23851,67,0,20191018_579082629,579082629,10/17/2019,10,Friday,18:22:09
4,4,900,306,34.05597,-118.24036,65,0,20191018_579082629,579082629,10/17/2019,10,Friday,18:22:15

---

## Geography