In [1]:
%load_ext lab_black

In [2]:
import altair as alt
import altair_stiles as altstiles

alt.themes.register("stiles", altstiles.theme)
alt.themes.enable("grid")

ThemeRegistry.enable('grid')

In [3]:
import pandas as pd

In [4]:
from oauth2client.service_account import ServiceAccountCredentials
import gspread

In [5]:
from df2gspread import df2gspread as d2g

In [6]:
from datawrapper import Datawrapper

dw = Datawrapper(
    access_token="FtIwtvFtoGLaRT9a3gjX69PLu4wSuRyKddoOz6SOPw3k9wWyNICMHTkcPhOGCR5Z"
)

In [7]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 1000
pd.options.display.max_colwidth = None

In [8]:
raw_ihme = pd.read_csv("data/raw/IHME-GBD_2019_DATA-a5edb61e-1.csv")

In [9]:
anxiety_rates = raw_ihme[
    (raw_ihme["metric_name"] == "Rate")
    & (raw_ihme["cause_name"] == "Anxiety disorders")
    & (raw_ihme["measure_name"] == "Prevalence")
    & (raw_ihme["age_name"] == "5-19 years")
    & (raw_ihme["location_name"] != "Morocco")
    & (raw_ihme["location_name"] != "France")
]

In [10]:
depression_rates = raw_ihme[
    (raw_ihme["metric_name"] == "Rate")
    & (raw_ihme["cause_name"] == "Major depressive disorder")
    & (raw_ihme["measure_name"] == "Prevalence")
    & (raw_ihme["age_name"] == "5-19 years")
    & (raw_ihme["location_name"] != "Morocco")
    & (raw_ihme["location_name"] != "France")
]

ed_rates = raw_ihme[
    (raw_ihme["metric_name"] == "Rate")
    & (raw_ihme["cause_name"] == "Eating disorders")
    & (raw_ihme["measure_name"] == "Prevalence")
    & (raw_ihme["age_name"] == "5-19 years")
    & (raw_ihme["location_name"] != "Morocco")
    & (raw_ihme["location_name"] != "France")
]

adhd_rates = raw_ihme[
    (raw_ihme["metric_name"] == "Rate")
    & (raw_ihme["cause_name"] == "Attention-deficit/hyperactivity disorder")
    & (raw_ihme["measure_name"] == "Prevalence")
    & (raw_ihme["age_name"] == "5-19 years")
    & (raw_ihme["location_name"] != "Morocco")
    & (raw_ihme["location_name"] != "France")
]

autism_rates = raw_ihme[
    (raw_ihme["metric_name"] == "Rate")
    & (raw_ihme["cause_name"] == "Autism spectrum disorders")
    & (raw_ihme["measure_name"] == "Prevalence")
    & (raw_ihme["age_name"] == "5-19 years")
    & (raw_ihme["location_name"] != "Morocco")
    & (raw_ihme["location_name"] != "France")
]

In [11]:
anxiety_clean = anxiety_rates[["location_name", "val"]].rename(
    columns={"val": "anxiety_rate"}
)
depression_clean = depression_rates[["location_name", "val"]].rename(
    columns={"val": "depression_rate"}
)
ed_clean = ed_rates[["location_name", "val"]].rename(columns={"val": "ed_rate"})
adhd_clean = adhd_rates[["location_name", "val"]].rename(columns={"val": "adhd_rate"})
autism_clean = autism_rates[["location_name", "val"]].rename(
    columns={"val": "autism_rate"}
)

In [12]:
total_nums = autism_clean.merge(adhd_clean, on="location_name")

In [13]:
total_nums = total_nums.merge(ed_clean, on="location_name")
total_nums = total_nums.merge(anxiety_clean, on="location_name")
total_nums = total_nums.merge(depression_clean, on="location_name")
total_nums.head()

,location_name,autism_rate,adhd_rate,ed_rate,anxiety_rate,depression_rate
0,Norway,540.549082,3708.299822,403.088924,6571.533510,1244.246627
1,United Arab Emirates,335.447041,923.965156,246.585784,4666.525512,1281.678903
2,United States of America,743.828134,4910.035551,357.842324,3350.738170,2626.220425
3,Australia,496.701706,7364.789929,680.227725,4781.258759,2092.637963
4,South Africa,431.854691,1333.806648,126.413217,2881.400545,873.135622

In [18]:
dw.add_data(chart_id="nCpA9", data=anxiety_depression)

In [16]:
anxiety_depression = anxiety_clean.merge(depression_clean, on="location_name")

              location_name  anxiety_rate  depression_rate
0                    Norway   6571.533510      1244.246627
1      United Arab Emirates   4666.525512      1281.678903
2  United States of America   3350.738170      2626.220425
3                 Australia   4781.258759      2092.637963
4              South Africa   2881.400545       873.135622