In [8]:
import requests
from datetime import datetime, timedelta
import pandas as pd

In [ ]:
import requests
from datetime import datetime, timedelta

iss_id = 25544  # ISS identifier
start_date = datetime(2025, 2, 24)  # starting from August 24, 2024
end_date = datetime.now()           # until now
interval = timedelta(minutes=10)    # adjust interval as needed

# Generate Unix timestamps between start_date and end_date
timestamps = []
current_time = start_date
while current_time <= end_date:
    timestamps.append(int(current_time.timestamp()))
    current_time += interval

chunk_size = 100  # break into chunks to avoid overly long URLs
results = []
url = f'https://api.wheretheiss.at/v1/satellites/{iss_id}/positions'

# Loop through timestamps in chunks
for i in range(0, len(timestamps), chunk_size):
    chunk = timestamps[i:i+chunk_size]
    params = {
        'timestamps': ','.join(map(str, chunk)),
        'units': 'kilometers'
    }
    try:
        response = requests.get(url, params=params)
        response.raise_for_status()  # raise exception for HTTP errors
        results.extend(response.json())
    except requests.exceptions.RequestException as e:
        print(f"Error fetching chunk {i//chunk_size}: {e}")
        # Optionally, add a break or retry mechanism here

print(results)

In [ ]:
df = pd.DataFrame(results)

In [13]:
df.tail()

          0
587  status
588   error
589  status
590   error
591  status

In [6]:
# Compute full days elapsed
days_elapsed = (end_date - start_date).days

# Estimate ISS orbits (assuming ~16 orbits per day)
estimated_orbits = days_elapsed * 16

print(f"Estimated ISS orbits since {start_date.date()}: {estimated_orbits}")

Estimated ISS orbits since 2024-08-24: 3280