# Access sports-reference.com data with sportsipy

---

### Import Python tools

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd
import geopandas as gpd
import jenkspy
import matplotlib.pyplot as plt

%matplotlib inline
import json
import numpy as np
import altair as alt
import altair_latimes as lat

alt.themes.register("latimes", lat.theme)
alt.themes.enable("latimes")
pd.options.display.max_columns = 50
pd.options.display.max_rows = 1000
alt.data_transformers.disable_max_rows()

In [40]:
from sportsipy.fb.team import Team
from sportsipy.fb.schedule import Schedule
from sportsipy.fb.roster import Roster

### Premier League clubs

In [87]:
clubs = [
    {"name": "Burnley", "code": "BUR", "country": "England", "id": "943e8050"},
    {
        "name": "Manchester United",
        "code": "MUN",
        "country": "England",
        "id": "19538871",
    },
    {"name": "Manchester City", "code": "MCI", "country": "England", "id": "b8fd03ef"},
    {"name": "Aston Villa", "code": "AVL", "country": "England", "id": "8602292d"},
    {"name": "Fulham", "code": "FUL", "country": "England", "id": "fd962109"},
    {"name": "Arsenal", "code": "ARS", "country": "England", "id": "18bb7c10"},
    {"name": "Crystal Palace", "code": "CRY", "country": "England", "id": "47c64c55"},
    {"name": "Southampton", "code": "SOU", "country": "England", "id": "33c895d4"},
    {"name": "Liverpool", "code": "LIV", "country": "England", "id": "e87167c6"},
    {"name": "Leeds United", "code": "LEE", "country": "England", "id": "5bfb9659"},
    {"name": "West Ham United", "code": "WHU", "country": "England", "id": "52d65cea"},
    {"name": "Newcastle United", "code": "NEW", "country": "England", "id": "b2b47a98"},
    {
        "name": "West Bromwich Albion",
        "code": "WBA",
        "country": "England",
        "id": "60c6b05f",
    },
    {"name": "Leicester City", "code": "LEI", "country": "England", "id": "a2d435b3"},
    {
        "name": "Tottenham Hotspur",
        "code": "TOT",
        "country": "England",
        "id": "a2d435b3",
    },
    {"name": "Everton", "code": "EVE", "country": "England", "id": "c4989550"},
    {"name": "Sheffield United", "code": "SHU", "country": "England", "id": "1df6b87e"},
    {
        "name": "Wolverhampton Wanderers",
        "code": "WOL",
        "country": "England",
        "id": "8cec06e1",
    },
    {
        "name": "Brighton & Hove Albion",
        "code": "BHA",
        "country": "England",
        "id": "d07537b9",
    },
    {"name": "Chelsea", "code": "CHE", "country": "England", "id": "a6a4e67d"},
]

In [88]:
clubs_df = pd.DataFrame(clubs)

In [89]:
clubs_df

                       name code  country        id
0                   Burnley  BUR  England  943e8050
1         Manchester United  MUN  England  19538871
2           Manchester City  MCI  England  b8fd03ef
3               Aston Villa  AVL  England  8602292d
4                    Fulham  FUL  England  fd962109
5                   Arsenal  ARS  England  18bb7c10
6            Crystal Palace  CRY  England  47c64c55
7               Southampton  SOU  England  33c895d4
8                 Liverpool  LIV  England  e87167c6
9              Leeds United  LEE  England  5bfb9659
10          West Ham United  WHU  England  52d65cea
11         Newcastle United  NEW  England  b2b47a98
12     West Bromwich Albion  WBA  England  60c6b05f
13           Leicester City  LEI  England  a2d435b3
14        Tottenham Hotspur  TOT  England  a2d435b3
15                  Everton  EVE  England  c4989550
16         Sheffield United  SHU  England  1df6b87e
17  Wolverhampton Wanderers  WOL  England  8cec06e1
18   Brighton & Hove Albion  BHA  England  d07537b9
19                  Chelsea  CHE  England  a6a4e67d

In [90]:
teams = []

for c in clubs_df.id:
    teams.append(Team(c))

[]
Exact match not found - Printing closest matches:

ValueError: Team ID of "18bb7c10" not found. Did you mean one of the following?
{}

In [ ]:
for t in teams:
    print(t.name)
    print(t.season)
    print(t.record)
    print(t.position)
    print(t.points)
    print(t.league)
    print(t.manager)
    print(t.country)
    print(t.gender)
    print(t.goals_scored)
    print(t.goals_against)
    print(t.goal_difference)
    print(t.expected_goals)
    print(t.expected_goals_against)
    print(t.expected_goal_difference)
    print(t.home_record)
    print(t.home_games)
    print(t.away_record)
    print(t.away_games)
    print(t.home_wins)
    print(t.home_draws)
    print(t.home_losses)
    print(t.away_wins)
    print(t.away_draws)
    print(t.away_losses)
    print(t.home_points)
    print(t.away_points)

In [72]:
tottenham = Team("Tottenham Hotspur")

In [73]:
tottenham.goals_against

30

In [74]:
tottenham.goals_scored

49

In [75]:
print(tottenham.name)
print(tottenham.season)
print(tottenham.record)
print(tottenham.position)
print(tottenham.points)
print(tottenham.league)
print(tottenham.manager)
print(tottenham.country)
print(tottenham.gender)
print(tottenham.goals_scored)
print(tottenham.goals_against)
print(tottenham.goal_difference)
print(tottenham.expected_goals)
print(tottenham.expected_goals_against)
print(tottenham.expected_goal_difference)
print(tottenham.home_record)
print(tottenham.home_games)
print(tottenham.away_record)
print(tottenham.away_games)
print(tottenham.home_wins)
print(tottenham.home_draws)
print(tottenham.home_losses)
print(tottenham.away_wins)
print(tottenham.away_draws)
print(tottenham.away_losses)
print(tottenham.home_points)
print(tottenham.away_points)

Tottenham Hotspur Stats (Premier
2020-2021
14-6-9
6
48
Premier League
Jos√© Mourinho
England
Male
49
30
19
39.7
33.7
6.1
7-3-4
14
7-3-5
15
7
3
4
7
3
5
24
24