# Barclay's Premiere League: Shooting Stats

#### Import Python tools

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd
import altair as alt
import altair_stiles as altstiles
import requests
import json
from bs4 import BeautifulSoup

In [3]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 100
pd.set_option("display.max_colwidth", None)

In [4]:
today = pd.Timestamp("today").strftime("%m/%d/%Y")

---

## Get data

#### Read table showing past winners

In [5]:
src = (
    pd.read_html("https://fbref.com/en/comps/9/history/Premier-League-Seasons")[0]
).fillna("")

In [6]:
src.columns = src.columns.str.lower().str.replace(" ", "_").str.replace("#_", "")

In [7]:
src[["champion", "points"]] = src["champion"].str.split(" - ", expand=True)

In [8]:
src.loc[src.champion == "The Wednesday", "champion"] = "Sheffield Wednesday"

In [9]:
df = src[src["champion"] != ""].copy()

#### Wins by each club?

In [10]:
winners = (
    df.groupby("champion")["season"]
    .count()
    .reset_index()
    .sort_values("season", ascending=False)
    .reset_index(drop=True)
)
winners

                   champion  season
0         Manchester United      20
1                 Liverpool      19
2                   Arsenal      13
3                   Everton       9
4           Manchester City       9
5               Aston Villa       7
6                Sunderland       6
7                   Chelsea       6
8          Newcastle United       4
9       Sheffield Wednesday       4
10         Blackburn Rovers       3
11  Wolverhampton Wanderers       3
12             Leeds United       3
13        Huddersfield Town       3
14                  Burnley       2
15               Portsmouth       2
16        Preston North End       2
17        Tottenham Hotspur       2
18             Derby County       2
19           Leicester City       1
20        Nottingham Forest       1
21         Sheffield United       1
22             Ipswich Town       1
23     West Bromwich Albion       1