# English football stadiums

#### Import Python tools

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd
import geopandas as gpd
import altair as alt
import altair_stiles as altstiles
import requests
import json
from bs4 import BeautifulSoup
from dms2dec.dms_convert import dms2dec
import contextily as cx

In [3]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 100
pd.set_option("display.max_colwidth", None)

In [4]:
today = pd.Timestamp("today").strftime("%m/%d/%Y")

---

## Get data

#### Read table showing past winners

In [5]:
src = (
    pd.read_html("https://en.wikipedia.org/wiki/List_of_Premier_League_stadiums")[0]
).fillna("")

In [6]:
src.columns = (
    src.columns.str.lower()
    .str.replace(" ", "_")
    .str.replace("#_", "")
    .str.replace("_(m)", "", regex=False)
)

In [7]:
src["coordinates"] = src["coordinates"].str.replace(
    ".mw-parser-output .geo-default,.mw-parser-output .geo-dms,.mw-parser-output .geo-dec{display:inline}.mw-parser-output .geo-nondefault,.mw-parser-output .geo-multi-punct{display:none}.mw-parser-output .longitude,.mw-parser-output .latitude{white-space:nowrap}",
    "",
    regex=False,
)

In [8]:
src = src.drop(["image", "ref.", "pitch_length", "pitch_width"], axis=1).copy()

In [9]:
src["opened"] = src["opened"].astype(str)
src["closed"] = src["closed"].astype(str).str.replace(".0", "", regex=False)

In [10]:
src[["coordinates_dms", "coordinates_other"]] = src["coordinates"].str.split(
    " / ", expand=True
)

In [11]:
src["stadium"] = (
    src["stadium"]
    .str.replace(" Formerly Reebok Stadium and Macron Stadium", "", regex=False)
    .str.replace(" Formerly Britannia Stadium", "", regex=False)
    .str.replace(" (also known as Upton Park)", "", regex=False)
    .str.replace(" Formerly Walkers Stadium", "", regex=False)
    .str.replace(" Formerly JJB Stadium", "", regex=False)
    .str.replace(" Formerly Olympic Stadium", "", regex=False)
    .str.replace(" Formerly KCOM Stadium", "", regex=False)
    .str.replace(" Formerly Liberty Stadium", "", regex=False)
)

In [12]:
df = src[(src["closed"] == "") & (src["club"] != "—[nb 1]")].copy()

In [13]:
df.head()

,stadium,club,location,opened,closed,capacity,coordinates,coordinates_dms,coordinates_other
0,Anfield,Liverpool,Liverpool,1884,,61276,".mw-parser-output .geo-default,.mw-parser-output .geo-dms,.mw-parser-output .geo-dec{display:inline}.mw-parser-output .geo-nondefault,.mw-parser-output .geo-multi-punct,.mw-parser-output .geo-inline-hidden{display:none}.mw-parser-output .longitude,.mw-parser-output .latitude{white-space:nowrap}53°25′51″N 002°57′39″W﻿ / ﻿53.43083°N 2.96083°W",".mw-parser-output .geo-default,.mw-parser-output .geo-dms,.mw-parser-output .geo-dec{display:inline}.mw-parser-output .geo-nondefault,.mw-parser-output .geo-multi-punct,.mw-parser-output .geo-inline-hidden{display:none}.mw-parser-output .longitude,.mw-parser-output .latitude{white-space:nowrap}53°25′51″N 002°57′39″W﻿",﻿53.43083°N 2.96083°W
4,bet365 Stadium,Stoke City,Stoke-on-Trent,1997,,30089,52°59′18″N 002°10′32″W﻿ / ﻿52.98833°N 2.17556°W,52°59′18″N 002°10′32″W﻿,﻿52.98833°N 2.17556°W
5,Bloomfield Road,Blackpool,Blackpool,1899,,16220,53°48′17″N 3°2′53″W﻿ / ﻿53.80472°N 3.04806°W,53°48′17″N 3°2′53″W﻿,﻿53.80472°N 3.04806°W
7,Boundary Park,Oldham Athletic,Oldham,1904,,13559,53°33′19″N 002°07′43″W﻿ / ﻿53.55528°N 2.12861°W,53°33′19″N 002°07′43″W﻿,﻿53.55528°N 2.12861°W
8,Bramall Lane,Sheffield United,Sheffield,1855,,32050,53°22′13″N 001°28′15″W﻿ / ﻿53.37028°N 1.47083°W,53°22′13″N 001°28′15″W﻿,﻿53.37028°N 1.47083°W

In [14]:
df["opened"] = (
    df["opened"]
    .str.replace("[16]", "", regex=False)
    .str.replace("[17]", "", regex=False)
    .str.replace("[27]", "", regex=False)
)

In [16]:
df[["lat", "lon"]] = df["coordinates_other"].str.split(" ", expand=True)

In [17]:
df.lat = df.lat.apply(dms2dec)
df.lon = df.lon.apply(dms2dec)

In [18]:
df = df.drop(
    ["closed", "coordinates_dms", "coordinates_other", "coordinates"], axis=1
).copy()

In [19]:
df.sort_values("capacity", ascending=False)

,stadium,club,location,opened,capacity,lat,lon
40,Old Trafford,Manchester United,Manchester,1910,74031,824.766667,-487.650000
52,Tottenham Hotspur Stadium,Tottenham Hotspur,London,2019,62850,1058.866667,-110.650000
34,London Stadium,West Ham United,London,2016,62500,948.683333,-27.316667
0,Anfield,Liverpool,Liverpool,1884,61276,771.050000,-1603.383333
21,Emirates Stadium,Arsenal,London,2006,60704,976.000000,-181.016667
14,City of Manchester Stadium,Manchester City,Manchester,2003,53400,858.100000,-335.800000
46,St James' Park,Newcastle United,Newcastle upon Tyne,1880,52257,1679.933333,-1037.116667
49,Stadium of Light,Sunderland,Sunderland,1997,48707,1578.066667,-648.216667
58,Villa Park,Aston Villa,Birmingham,1897,42530,900.616667,-1475.533333
50,Stamford Bridge,Chelsea,London,1877,40173,853.783333,-318.516667
29,Hillsborough Stadium,Sheffield Wednesday,Sheffield,1899,39812,738.650000,-835.266667
26,Goodison Park,Everton,Liverpool,1892,39414,784.483333,-1612.650000
20,Elland Road,Leeds United,Leeds,1897,37608,1349.300000,-954.700000
43,Riverside Stadium,Middlesbrough,Middlesbrough,1995,33746,1017.883333,-362.566667
42,Pride Park Stadium,Derby County,Derby,1997,33597,1577.000000,-746.366667
11,Cardiff City Stadium,Cardiff City,Cardiff,2009,33280,838.966667,-341.433333
47,St Mary's Stadium,Southampton,Southampton,2001,32384,1559.716667,-652.850000
31,King Power Stadium,Leicester City,Leicester,2002,32262,1085.800000,-238.033333
8,Bramall Lane,Sheffield United,Sheffield,1855,32050,670.133333,-785.716667
23,Falmer Stadium,Brighton & Hove Albion,Falmer,2011,31876,143687.033333,-1387.966667
38,Molineux Stadium,Wolverhampton Wanderers,Wolverhampton,1889,31750,1035.800000,-219.133333
22,Ewood Park,Blackburn Rovers,Blackburn,1890,31367,1267.350000,-817.283333
13,City Ground,Nottingham Forest,Nottingham,1898,30404,1618.666667,-222.300000
41,Portman Road,Ipswich Town,Ipswich,1884,30311,143.666667,242.200000
4,bet365 Stadium,Stoke City,Stoke-on-Trent,1997,30089,1699.216667,-294.600000
45,St Andrew's,Birmingham City,Birmingham,1906,30079,845.050000,-1447.766667
54,University of Bolton Stadium,Bolton Wanderers,Bolton,1997,28723,1020.600000,-894.600000
12,Carrow Road,Norwich City,Norwich,1935,27359,1089.033333,516.283333
55,The Valley,Charlton Athletic,London,1919,27111,861.650000,60.650000
27,The Hawthorns,West Bromwich Albion,West Bromwich,1900,26445,900.616667,-1607.483333
48,Selhurst Park,Crystal Palace & Wimbledon,London,1924,25486,714.883333,-142.600000
37,MKM Stadium,Hull City,Kingston upon Hull,2002,25400,1296.516667,-612.500000
19,DW Stadium,Wigan Athletic,Wigan,1999,25138,965.500000,-1092.283333
56,Valley Parade,Bradford City,Bradford,1886,25136,1393.283333,-1265.816667
16,Craven Cottage,Fulham,London,1896,24500,842.666667,-369.450000
32,Kirklees Stadium,Huddersfield Town,Huddersfield,1994,24500,1143.283333,-1281.550000
35,Madejski Stadium,Reading,Reading,1998,24161,754.700000,-1637.966667
39,Oakwell,Barnsley,Barnsley,1887,23009,973.366667,-780.166667
57,Vicarage Road,Watford,Watford,1922,22200,1134.333333,-669.450000
53,Turf Moor,Burnley,Burnley,1883,21744,1368.283333,-385.800000
25,Fratton Park,Portsmouth,Portsmouth,1898,20978,1377.316667,-107.483333
51,Swansea.com Stadium,Swansea City,Swansea,2005,20937,1122.300000,-1560.866667
33,Loftus Road,Queens Park Rangers & Fulham,London,1904,18439,899.616667,-387.033333
9,Brentford Community Stadium,Brentford,London,2020,17250,81855.166667,-48116.666667
5,Bloomfield Road,Blackpool,Blackpool,1899,16220,1394.200000,-83.100000
15,County Ground,Swindon Town,Swindon,1895,14700,991.733333,-1285.266667
7,Boundary Park,Oldham Athletic,Oldham,1904,13559,978.466667,-216.350000
17,Dean Court,Bournemouth,Bournemouth,1910,11307,1275.466667,-1398.216667
30,Kenilworth Road,Luton Town,Luton,1905,10265,1524.616667,-719.450000

---

## Geography

In [ ]:
gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.lon, df.lat)).set_crs(
    epsg=3857
)

In [ ]:
gdf.query('location == "London"').plot()

In [ ]:
df.to_csv("data/processed/english_football_stadiums.csv", index=False)
gdf.to_file("data/processed/english_football_stadiums_geo.geojson", driver="GeoJSON")
gdf.query('location == "London"').to_file(
    "data/processed/english_football_stadiums_geo_london.geojson", driver="GeoJSON"
)