# Chipotle
> This notebook downloads the company's [news releases](https://ir.chipotle.com/news-releases?o=0) over time.

#### Load Python tools and Jupyter config

In [28]:
import json
import requests
import pandas as pd
import jupyter_black
import altair as alt
import geopandas as gpd
from bs4 import BeautifulSoup
from tqdm.notebook import tqdm

In [2]:
jupyter_black.load()
pd.options.display.max_columns = 100
pd.options.display.max_rows = 1000
pd.options.display.max_colwidth = None

In [3]:
today = pd.Timestamp("today").strftime("%Y%m%d")

---

## Fetch

#### Headers

In [4]:
headers = {
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36",
}

#### Loop through the news release pages, snag metadata about them

In [29]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from tqdm.notebook import tqdm

headers = {
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36",
}

# Initialize an empty list to store the press release metadata
data = []

# Loop over the paginated pages
for r in tqdm(range(0, 361, 5)):
    url = f"https://ir.chipotle.com/news-releases?o={r}"
    response = requests.get(url, headers=headers)

    if response.status_code == 200:
        html_content = BeautifulSoup(response.text, "html.parser")
        releases = html_content.find_all("div", class_="wd_item_wrapper")

        for release in releases:
            date = release.find("div", class_="wd_date").text.strip()
            title_tag = release.find("div", class_="wd_title").find("a")
            title = title_tag.text.strip()
            link = title_tag["href"].strip()

            # Append the data to the list
            data.append({"date": date, "title": title, "url": link})
    else:
        print(f"Failed to retrieve data from page {r}")

meta_df = pd.DataFrame(data)
meta_df["title"] = meta_df["title"].str.title()

# Filter for annual results URLs
annual_results_urls = meta_df.query(
    'title.str.contains("Announces") and title.str.contains("Full Year")'
)["url"].to_list()

  0%|          | 0/73 [00:00<?, ?it/s]

#### Convert the list to a DataFrame

In [113]:
# Initialize an empty list to store the table data
table_data = []

# Loop over the filtered URLs for annual results
for url in tqdm(annual_results_urls):
    press_release_response = requests.get(url, headers=headers)
    press_release_content = BeautifulSoup(press_release_response.text, "html.parser")
    tables = press_release_content.find_all("table", class_="prnbcc")

    if len(tables) > 1:  # Ensure there are at least two tables
        annual_income_statement_table = tables[1]
        rows = annual_income_statement_table.find_all("tr")

        for row in rows:
            cols = row.find_all("td")
            cols = [ele.text.strip() for ele in cols]
            table_data.append([url] + cols)

# Define column names based on the structure of the table
# column_names = [
#     "url",
#     "metric", "value_1", "percentage_1", "value_2", "percentage_2"
# ]

# Convert the list to a DataFrame
df = pd.DataFrame(table_data)

  0%|          | 0/7 [00:00<?, ?it/s]

In [114]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,"CHIPOTLE MEXICAN GRILL, INC.\nCONSOLIDATED STATEMENTS OF INCOME\n(in thousands, except per share data)\n(unaudited)",None,None,None,None,None,None,None,None,None,None,None
1,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,,,,,,,,,,,,
2,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,,"Three months ended December 31,",None,None,None,None,None,None,None,None,None,None
3,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,,2023,,2022,None,None,None,None,None,None,None,None
4,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,Food and beverage revenue,$,"2,499,567",,99.3,%,,$,"2,163,907",,99.2,%
5,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,Delivery service revenue,,"16,753",,0.7,,,,"16,692",,0.8,
6,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,Total revenue,,"2,516,320",,100.0,,,,"2,180,599",,100.0,
7,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,Restaurant operating costs (exclusive of depreciation and amortization shown separately below):,,,,,,,,,,,
8,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,"Food, beverage and packaging",,"747,155",,29.7,,,,"638,851",,29.3,
9,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,Labor,,"629,228",,25.0,,,,"558,914",,25.6,
10,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,Occupancy,,"131,167",,5.2,,,,"118,648",,5.4,
11,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,Other operating costs,,"370,466",,14.7,,,,"341,644",,15.7,
12,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,General and administrative expenses,,"169,247",,6.7,,,,"135,073",,6.2,
13,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,Depreciation and amortization,,"85,492",,3.4,,,,"74,012",,3.4,
14,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,Pre-opening costs,,"13,590",,0.5,,,,"11,341",,0.5,
15,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,"Impairment, closure costs, and asset disposals",,"6,528",,0.3,,,,"5,785",,0.3,
16,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,Total operating expenses,,"2,152,873",,85.6,,,,"1,884,268",,86.4,
17,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,Income from operations,,"363,447",,14.4,,,,"296,331",,13.6,
18,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,"Interest and other income, net",,"18,906",,0.8,,,,"7,057",,0.3,
19,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,Income before income taxes,,"382,353",,15.2,,,,"303,388",,13.9,
20,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,Provision for income taxes,,"(100,267)",,(4.0),,,,"(79,661)",,(3.7),
21,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,Net income,$,"282,086",,11.2,%,,$,"223,727",,10.3,%
22,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,Earnings per share:,,,,,,,,,,,
23,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,Basic,$,10.28,,,,,$,8.08,,,
24,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,Diluted,$,10.21,,,,,$,8.02,,,
25,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,Weighted-average common shares outstanding:,,,,,,,,,,,
26,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,Basic,,"27,440",,,,,,"27,684",,,
27,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,Diluted,,"27,621",,,,,,"27,899",,,
28,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,"CHIPOTLE MEXICAN GRILL, INC.\nCONSOLIDATED STATEMENTS OF INCOME\n(in thousands, except per share data)\n(unaudited)",None,None,None,None,None,None,None,None,None,None,None
29,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,,,,,,,,,,,,
30,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,,"Three months ended December 31,",None,None,None,None,None,None,None,None,None,None
31,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,,2022,,2021,None,None,None,None,None,None,None,None
32,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,Food and beverage revenue,$,"2,163,907",,99.2,%,,$,"1,939,405",,98.9,%
33,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,Delivery service revenue,,"16,692",,0.8,,,,"21,228",,1.1,
34,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,Total revenue,,"2,180,599",,100.0,,,,"1,960,633",,100.0,
35,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,Restaurant operating costs (exclusive of depreciation and amortization shown separately below):,,,,,,,,,,,
36,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,"Food, beverage and packaging",,"638,851",,29.3,,,,"620,150",,31.6,
37,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,Labor,,"558,914",,25.6,,,,"516,829",,26.4,
38,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,Occupancy,,"118,648",,5.4,,,,"107,184",,5.5,
39,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,Other operating costs,,"341,644",,15.7,,,,"320,452",,16.3,
40,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,General and administrative expenses,,"135,073",,6.2,,,,"159,777",,8.1,
41,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,Depreciation and amortization,,"74,012",,3.4,,,,"66,262",,3.4,
42,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,Pre-opening costs,,"11,341",,0.5,,,,"6,984",,0.4,
43,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,"Impairment, closure costs, and asset disposals",,"5,785",,0.3,,,,"4,699",,0.2,
44,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,Total operating expenses,,"1,884,268",,86.4,,,,"1,802,337",,91.9,
45,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,Income from operations,,"296,331",,13.6,,,,"158,296",,8.1,
46,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,"Interest and other income, net",,"7,057",,0.3,,,,"9,263",,0.5,
47,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,Income before income taxes,,"303,388",,13.9,,,,"167,559",,8.5,
48,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,Benefit/(provision) for income taxes,,"(79,661)",,(3.7),,,,"(34,084)",,(1.7),
49,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,Net income,$,"223,727",,10.3,%,,$,"133,475",,6.8,%
50,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,Earnings per share:,,,,,,,,,,,
51,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,Basic,$,8.08,,,,,$,4.75,,,
52,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,Diluted,$,8.02,,,,,$,4.69,,,
53,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,Weighted-average common shares outstanding:,,,,,,,,,,,
54,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,Basic,,"27,684",,,,,,"28,119",,,
55,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,Diluted,,"27,899",,,,,,"28,485",,,
56,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,"CHIPOTLE MEXICAN GRILL, INC.",None,None,None,None,None,None,None,None,None,None,None
57,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,CONSOLIDATED STATEMENTS OF INCOME,None,None,None,None,None,None,None,None,None,None,None
58,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,"(in thousands, except per share data)",None,None,None,None,None,None,None,None,None,None,None
59,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,(unaudited),None,None,None,None,None,None,None,None,None,None,None
60,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,,,,,,,,,,,,
61,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,,"Three months ended December 31,",None,None,None,None,None,None,None,None,None,None
62,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,,2021,,2020,None,None,None,None,None,None,None,None
63,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,Food and beverage revenue,$,"1,939,405",,98.9,%,,$,"1,586,905",,98.7,%
64,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,Delivery service revenue,,"21,228",,1.1,,,,"20,805",,1.3,
65,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,Total revenue,,"1,960,633",,100.0,,,,"1,607,710",,100.0,
66,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,Restaurant operating costs (exclusive of depreciation and amortization shown separately below):,,,,,,,,,,,
67,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,"Food, beverage and packaging",,"620,150",,31.6,,,,"498,450",,31.0,
68,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,Labor,,"516,829",,26.4,,,,"408,364",,25.4,
69,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,Occupancy,,"107,184",,5.5,,,,"99,213",,6.2,
70,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,Other operating costs,,"320,452",,16.3,,,,"288,456",,17.9,
71,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,General and administrative expenses,,"159,777",,8.1,,,,"124,024",,7.7,
72,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,Depreciation and amortization,,"66,262",,3.4,,,,"59,956",,3.7,
73,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,Pre-opening costs,,"6,984",,0.4,,,,"4,497",,0.3,
74,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,"Impairment, closure costs, and asset disposals",,"4,699",,0.2,,,,"7,864",,0.5,
75,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,Total operating expenses,,"1,802,337",,91.9,,,,"1,490,824",,92.7,
76,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,Income from operations,,"158,296",,8.1,,,,"116,886",,7.3,
77,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,"Interest and other income, net",,"9,263",,0.5,,,,846,,0.1,
78,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,Income before income taxes,,"167,559",,8.5,,,,"117,732",,7.3,
79,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,Benefit/(Provision) for income taxes,,"(34,084)",,(1.7),,,,"73,227",,4.6,
80,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,Net income,$,"133,475",,6.8,%,,$,"190,959",,11.9,%
81,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,Earnings per share:,,,,,,,,,,,
82,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,Basic,$,4.75,,,,,$,6.82,,,
83,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,Diluted,$,4.69,,,,,$,6.69,,,
84,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,Weighted-average common shares outstanding:,,,,,,,,,,,
85,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,Basic,,"28,119",,,,,,"27,992",,,
86,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,Diluted,,"28,485",,,,,,"28,552",,,

['https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS',
 'https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS',
 'https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS',
 'https://ir.chipotle.com/2021-02-02-Chipotle-Announces-Fourth-Quarter-And-Full-Year-2020-Results',
 'https://ir.chipotle.com/2020-02-04-Chipotle-Announces-Fourth-Quarter-And-Full-Year-2019-Results',
 'https://ir.chipotle.com/news-releases?item=122415',
 'https://ir.chipotle.com/news-releases?item=122452']

In [110]:
headers = {
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36",
}

# Initialize an empty list to store the table data
table_data = []

# Loop over the paginated pages
for r in tqdm(range(0, 361, 5)):  # Adjusting step to 5 assuming each page has 5 press releases
    url = f"https://ir.chipotle.com/news-releases?o={r}"
    response = requests.get(url, headers=headers)
    
    if response.status_code == 200:
        html_content = BeautifulSoup(response.text, "html.parser")
        releases = html_content.find_all("div", class_="wd_item_wrapper")
        
        for release in releases:
            date = release.find("div", class_="wd_date").text.strip()
            title_tag = release.find("div", class_="wd_title").find("a")
            title = title_tag.text.strip()
            link = title_tag["href"].strip()
            
            # Fetch the detailed press release page to extract the table
            press_release_response = requests.get(link, headers=headers)
            press_release_content = BeautifulSoup(press_release_response.text, "html.parser")
            tables = press_release_content.find_all("table", class_="prnbcc")
            
            if len(tables) > 1:  # Ensure there are at least two tables
                annual_income_statement_table = tables[1]
                rows = annual_income_statement_table.find_all("tr")
                
                for row in rows:
                    cols = row.find_all("td")
                    cols = [ele.text.strip() for ele in cols]
                    table_data.append([date, title, link] + cols)
    else:
        print(f"Failed to retrieve data from page {r}")

# Define column names based on the structure of the table
column_names = [
    "date", "title", "url",
    "metric", "value_1", "percentage_1", "value_2", "percentage_2"
]

# Convert the list to a DataFrame
df = pd.DataFrame(table_data, columns=column_names)

# Display the DataFrame
print(df)

# Optionally, save the DataFrame to a CSV file
df.to_csv("chipotle_press_release_annual_income_statements.csv", index=False)

  0%|          | 0/73 [00:00<?, ?it/s]

KeyboardInterrupt:

In [74]:
df = pd.concat(dfs)

In [77]:
df.dropna(thresh=8)

,0,1,2,3,4,5,6,7,8,9,10,11,url,12
0,"CHIPOTLE MEXICAN GRILL, INC. CONSOLIDATED STATEMENTS OF INCOME (in thousands, except per share data)","CHIPOTLE MEXICAN GRILL, INC. CONSOLIDATED STATEMENTS OF INCOME (in thousands, except per share data)","CHIPOTLE MEXICAN GRILL, INC. CONSOLIDATED STATEMENTS OF INCOME (in thousands, except per share data)","CHIPOTLE MEXICAN GRILL, INC. CONSOLIDATED STATEMENTS OF INCOME (in thousands, except per share data)","CHIPOTLE MEXICAN GRILL, INC. CONSOLIDATED STATEMENTS OF INCOME (in thousands, except per share data)","CHIPOTLE MEXICAN GRILL, INC. CONSOLIDATED STATEMENTS OF INCOME (in thousands, except per share data)","CHIPOTLE MEXICAN GRILL, INC. CONSOLIDATED STATEMENTS OF INCOME (in thousands, except per share data)","CHIPOTLE MEXICAN GRILL, INC. CONSOLIDATED STATEMENTS OF INCOME (in thousands, except per share data)","CHIPOTLE MEXICAN GRILL, INC. CONSOLIDATED STATEMENTS OF INCOME (in thousands, except per share data)","CHIPOTLE MEXICAN GRILL, INC. CONSOLIDATED STATEMENTS OF INCOME (in thousands, except per share data)","CHIPOTLE MEXICAN GRILL, INC. CONSOLIDATED STATEMENTS OF INCOME (in thousands, except per share data)","CHIPOTLE MEXICAN GRILL, INC. CONSOLIDATED STATEMENTS OF INCOME (in thousands, except per share data)",https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,NaN
2,NaN,"Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,",https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,NaN
3,NaN,2023,2023,2023,2023,2023,NaN,2022,2022,2022,2022,2022,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,NaN
5,Food and beverage revenue,$,9804124,NaN,99.3,%,NaN,$,8558001,NaN,99.1,%,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,NaN
22,Net income,$,1228737,NaN,12.4,%,NaN,$,899101,NaN,10.4,%,https://ir.chipotle.com/2024-02-06-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2023-RESULTS,NaN
0,"CHIPOTLE MEXICAN GRILL, INC. CONSOLIDATED STATEMENTS OF INCOME (in thousands, except per share data)","CHIPOTLE MEXICAN GRILL, INC. CONSOLIDATED STATEMENTS OF INCOME (in thousands, except per share data)","CHIPOTLE MEXICAN GRILL, INC. CONSOLIDATED STATEMENTS OF INCOME (in thousands, except per share data)","CHIPOTLE MEXICAN GRILL, INC. CONSOLIDATED STATEMENTS OF INCOME (in thousands, except per share data)","CHIPOTLE MEXICAN GRILL, INC. CONSOLIDATED STATEMENTS OF INCOME (in thousands, except per share data)","CHIPOTLE MEXICAN GRILL, INC. CONSOLIDATED STATEMENTS OF INCOME (in thousands, except per share data)","CHIPOTLE MEXICAN GRILL, INC. CONSOLIDATED STATEMENTS OF INCOME (in thousands, except per share data)","CHIPOTLE MEXICAN GRILL, INC. CONSOLIDATED STATEMENTS OF INCOME (in thousands, except per share data)","CHIPOTLE MEXICAN GRILL, INC. CONSOLIDATED STATEMENTS OF INCOME (in thousands, except per share data)","CHIPOTLE MEXICAN GRILL, INC. CONSOLIDATED STATEMENTS OF INCOME (in thousands, except per share data)","CHIPOTLE MEXICAN GRILL, INC. CONSOLIDATED STATEMENTS OF INCOME (in thousands, except per share data)","CHIPOTLE MEXICAN GRILL, INC. CONSOLIDATED STATEMENTS OF INCOME (in thousands, except per share data)",https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,NaN
2,NaN,"Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,",https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,NaN
3,NaN,2022,2022,2022,2022,2022,NaN,2021,2021,2021,2021,2021,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,NaN
5,Food and beverage revenue,$,8558001,NaN,99.1,%,NaN,$,7457169,NaN,98.8,%,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,NaN
22,Net income,$,899101,NaN,10.4,%,NaN,$,652984,NaN,8.7,%,https://ir.chipotle.com/2023-02-07-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2022-RESULTS,NaN
0,"CHIPOTLE MEXICAN GRILL, INC.","CHIPOTLE MEXICAN GRILL, INC.","CHIPOTLE MEXICAN GRILL, INC.","CHIPOTLE MEXICAN GRILL, INC.","CHIPOTLE MEXICAN GRILL, INC.","CHIPOTLE MEXICAN GRILL, INC.","CHIPOTLE MEXICAN GRILL, INC.","CHIPOTLE MEXICAN GRILL, INC.","CHIPOTLE MEXICAN GRILL, INC.","CHIPOTLE MEXICAN GRILL, INC.","CHIPOTLE MEXICAN GRILL, INC.","CHIPOTLE MEXICAN GRILL, INC.",https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,NaN
1,CONSOLIDATED STATEMENTS OF INCOME,CONSOLIDATED STATEMENTS OF INCOME,CONSOLIDATED STATEMENTS OF INCOME,CONSOLIDATED STATEMENTS OF INCOME,CONSOLIDATED STATEMENTS OF INCOME,CONSOLIDATED STATEMENTS OF INCOME,CONSOLIDATED STATEMENTS OF INCOME,CONSOLIDATED STATEMENTS OF INCOME,CONSOLIDATED STATEMENTS OF INCOME,CONSOLIDATED STATEMENTS OF INCOME,CONSOLIDATED STATEMENTS OF INCOME,CONSOLIDATED STATEMENTS OF INCOME,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,NaN
2,"(in thousands, except per share data)","(in thousands, except per share data)","(in thousands, except per share data)","(in thousands, except per share data)","(in thousands, except per share data)","(in thousands, except per share data)","(in thousands, except per share data)","(in thousands, except per share data)","(in thousands, except per share data)","(in thousands, except per share data)","(in thousands, except per share data)","(in thousands, except per share data)",https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,NaN
4,NaN,"Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,","Year ended December 31,",https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,NaN
5,NaN,2021,2021,2021,2021,2021,NaN,2020,2020,2020,2020,2020,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,NaN
7,Food and beverage revenue,$,7457169,NaN,98.8,%,NaN,$,5920545,NaN,98.9,%,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,NaN
24,Net income,$,652984,NaN,8.7,%,NaN,$,355766,NaN,5.9,%,https://ir.chipotle.com/2022-02-08-CHIPOTLE-ANNOUNCES-FOURTH-QUARTER-AND-FULL-YEAR-2021-RESULTS,NaN
0,"Chipotle Mexican Grill, Inc.","Chipotle Mexican Grill, Inc.","Chipotle Mexican Grill, Inc.","Chipotle Mexican Grill, Inc.","Chipotle Mexican Grill, Inc.","Chipotle Mexican Grill, Inc.","Chipotle Mexican Grill, Inc.","Chipotle Mexican Grill, Inc.","Chipotle Mexican Grill, Inc.","Chipotle Mexican Grill, Inc.","Chipotle Mexican Grill, Inc.","Chipotle Mexican Grill, Inc.",https://ir.chipotle.com/news-releases?item=122415,"Chipotle Mexican Grill, Inc."
1,Condensed Consolidated Balance Sheet,Condensed Consolidated Balance Sheet,Condensed Consolidated Balance Sheet,Condensed Consolidated Balance Sheet,Condensed Consolidated Balance Sheet,Condensed Consolidated Balance Sheet,Condensed Consolidated Balance Sheet,Condensed Consolidated Balance Sheet,Condensed Consolidated Balance Sheet,Condensed Consolidated Balance Sheet,Condensed Consolidated Balance Sheet,Condensed Consolidated Balance Sheet,https://ir.chipotle.com/news-releases?item=122415,Condensed Consolidated Balance Sheet
2,"(in thousands, except per share data)","(in thousands, except per share data)","(in thousands, except per share data)","(in thousands, except per share data)","(in thousands, except per share data)","(in thousands, except per share data)","(in thousands, except per share data)","(in thousands, except per share data)","(in thousands, except per share data)","(in thousands, except per share data)","(in thousands, except per share data)","(in thousands, except per share data)",https://ir.chipotle.com/news-releases?item=122415,"(in thousands, except per share data)"
4,NaN,NaN,NaN,NaN,NaN,"December 31,","December 31,","December 31,","December 31,","December 31,","December 31,","December 31,",https://ir.chipotle.com/news-releases?item=122415,"December 31,"
0,"Chipotle Mexican Grill,Inc. Condensed Consolidated Balance Sheet (in thousands, except per share data)","Chipotle Mexican Grill,Inc. Condensed Consolidated Balance Sheet (in thousands, except per share data)","Chipotle Mexican Grill,Inc. Condensed Consolidated Balance Sheet (in thousands, except per share data)","Chipotle Mexican Grill,Inc. Condensed Consolidated Balance Sheet (in thousands, except per share data)","Chipotle Mexican Grill,Inc. Condensed Consolidated Balance Sheet (in thousands, except per share data)","Chipotle Mexican Grill,Inc. Condensed Consolidated Balance Sheet (in thousands, except per share data)","Chipotle Mexican Grill,Inc. Condensed Consolidated Balance Sheet (in thousands, except per share data)","Chipotle Mexican Grill,Inc. Condensed Consolidated Balance Sheet (in thousands, except per share data)","Chipotle Mexican Grill,Inc. Condensed Consolidated Balance Sheet (in thousands, except per share data)",NaN,NaN,NaN,https://ir.chipotle.com/news-releases?item=122452,NaN
2,NaN,NaN,"December 31,","December 31,","December 31,","December 31,","December 31,","December 31,","December 31,",NaN,NaN,NaN,https://ir.chipotle.com/news-releases?item=122452,NaN
39,"1Balances were adjusted because we adopted Financial Accounting Standards Board Accounting Standards Update No. 2015-07, Income Taxes which requires that deferred tax liabilities and assets be classified as noncurrent in a classified balance sheet.","1Balances were adjusted because we adopted Financial Accounting Standards Board Accounting Standards Update No. 2015-07, Income Taxes which requires that deferred tax liabilities and assets be classified as noncurrent in a classified balance sheet.","1Balances were adjusted because we adopted Financial Accounting Standards Board Accounting Standards Update No. 2015-07, Income Taxes which requires that deferred tax liabilities and assets be classified as noncurrent in a classified balance sheet.","1Balances were adjusted because we adopted Financial Accounting Standards Board Accounting Standards Update No. 2015-07, Income Taxes which requires that deferred tax liabilities and assets be classified as noncurrent in a classified balance sheet.","1Balances were adjusted because we adopted Financial Accounting Standards Board Accounting Standards Update No. 2015-07, Income Taxes which requires that deferred tax liabilities and assets be classified as noncurrent in a classified balance sheet.","1Balances were adjusted because we adopted Financial Accounting Standards Board Accounting Standards Update No. 2015-07, Income Taxes which requires that deferred tax liabilities and assets be classified as noncurrent in a classified balance sheet.","1Balances were adjusted because we adopted Financial Accounting Standards Board Accounting Standards Update No. 2015-07, Income Taxes which requires that deferred tax liabilities and assets be classified as noncurrent in a classified balance sheet.","1Balances were adjusted because we adopted Financial Accounting Standards Board Accounting Standards Update No. 2015-07, Income Taxes which requires that deferred tax liabilities and assets be classified as noncurrent in a classified balance sheet.","1Balances were adjusted because we adopted Financial Accounting Standards Board Accounting Standards Update No. 2015-07, Income Taxes which requires that deferred tax liabilities and assets be classified as noncurrent in a classified balance sheet.",NaN,NaN,NaN,https://ir.chipotle.com/news-releases?item=122452,NaN

---

## Exports

#### JSON

In [17]:
# df.to_json(
#     f"data/processed/NAME.json",
#     indent=4,
#     orient="records",
# )

#### CSV

In [18]:
# Optionally, save the DataFrame to a CSV file
df.to_csv("data/processed/chipotle_press_releases.csv", index=False)

#### GeoJSON

In [19]:
# gdf.to_file(
#     f"data/processed/NAME.geojson",
#     driver="GeoJSON",
# )