# Netflix top titles

#### Load Python tools and Jupyter config

In [1]:
import json
import requests
import pandas as pd
import jupyter_black
import altair as alt
import geopandas as gpd

In [2]:
jupyter_black.load()
pd.options.display.max_columns = 100
pd.options.display.max_rows = 1000
pd.options.display.max_colwidth = None

---

## Read data

#### Global ranking list by week

In [3]:
global_df = pd.read_csv(
    "https://www.netflix.com/tudum/top10/data/all-weeks-global.tsv",
    sep="\t",
    engine="python",
)

#### Top title in each category this week?

In [4]:
global_df.query("weekly_rank == 1 and week == week.max()")

,week,category,weekly_rank,show_title,season_title,weekly_hours_viewed,runtime,weekly_views,cumulative_weeks_in_top_10,is_staggered_launch,episode_launch_details
0,2024-03-10,Films (English),1,Damsel,NaN,64800000,1.8333,35300000.0,1,False,NaN
10,2024-03-10,Films (Non-English),1,My Name Is Loh Kiwan,NaN,11200000,2.2167,5100000.0,2,False,NaN
20,2024-03-10,TV (English),1,The Gentlemen,The Gentlemen: Season 1,81500000,6.6833,12200000.0,1,False,NaN
30,2024-03-10,TV (Non-English),1,Furies,Furies: Season 1,47500000,6.0000,7900000.0,2,False,NaN

---

#### Country lists

In [5]:
country_df = pd.read_csv(
    "https://www.netflix.com/tudum/top10/data/all-weeks-countries.tsv",
    sep="\t",
    engine="python",
)

In [6]:
country_df.country_name.unique()

array(['Argentina', 'Australia', 'Austria', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Belgium', 'Bolivia', 'Brazil', 'Bulgaria', 'Canada',
       'Chile', 'Colombia', 'Costa Rica', 'Croatia', 'Cyprus',
       'Czech Republic', 'Denmark', 'Dominican Republic', 'Ecuador',
       'Egypt', 'El Salvador', 'Estonia', 'Finland', 'France', 'Germany',
       'Greece', 'Guadeloupe', 'Guatemala', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Kuwait', 'Latvia',
       'Lebanon', 'Lithuania', 'Luxembourg', 'Malaysia', 'Maldives',
       'Malta', 'Martinique', 'Mauritius', 'Mexico', 'Morocco',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'RÃ©union', 'Saudi Arabia', 'Serbia', 'Singapore',
       'Slovakia', 'Slovenia', 'South Africa', 'South Korea', 'Spain',
       'Sri Lanka', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand',
       'Trinidad and Tobago', 'Turkey', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Venezuela',
       'Vietnam'], dtype=object)

#### Top titles in a single country: South Korea

In [7]:
country_df.query('country_iso2=="KR" and week==week.max()').reset_index(drop=True)

,country_name,country_iso2,week,category,weekly_rank,show_title,season_title,cumulative_weeks_in_top_10
0,South Korea,KR,2024-03-10,Films,1,My Name Is Loh Kiwan,NaN,2
1,South Korea,KR,2024-03-10,Films,2,Our Season,NaN,1
2,South Korea,KR,2024-03-10,Films,3,Unforgivable,NaN,2
3,South Korea,KR,2024-03-10,Films,4,Damsel,NaN,1
4,South Korea,KR,2024-03-10,Films,5,Code 8 Part II,NaN,2
5,South Korea,KR,2024-03-10,Films,6,Single in Seoul,NaN,2
6,South Korea,KR,2024-03-10,Films,7,Svaha: The Sixth Finger,NaN,2
7,South Korea,KR,2024-03-10,Films,8,"The Pig, the Snake and the Pigeon",NaN,1
8,South Korea,KR,2024-03-10,Films,9,Usury Academy,NaN,3
9,South Korea,KR,2024-03-10,Films,10,The Yellow Sea,NaN,3
10,South Korea,KR,2024-03-10,TV,1,A Killer Paradox,A Killer Paradox: Season 1,5
11,South Korea,KR,2024-03-10,TV,2,Queen of Tears,Queen of Tears: Limited Series,1
12,South Korea,KR,2024-03-10,TV,3,Doctor Slump,Doctor Slump: Limited Series,7
13,South Korea,KR,2024-03-10,TV,4,Captivating the King,Captivating the King: Limited Series,7
14,South Korea,KR,2024-03-10,TV,5,Solo Leveling,Solo Leveling: Season 1,9
15,South Korea,KR,2024-03-10,TV,6,Ghost Doctor,NaN,2
16,South Korea,KR,2024-03-10,TV,7,Eye Love You,Eye Love You: Season 1,6
17,South Korea,KR,2024-03-10,TV,8,Furies,Furies: Season 1,1
18,South Korea,KR,2024-03-10,TV,9,I am Solo,I am Solo: Part 17,12
19,South Korea,KR,2024-03-10,TV,10,Moo No Plan,Moo No Plan: Season 1,3

---

#### Most popular list

In [8]:
popular_df = pd.read_csv(
    "https://www.netflix.com/tudum/top10/data/most-popular.tsv",
    sep="\t",
    engine="python",
)

#### Which categories are there?

In [9]:
list(popular_df.category.unique())

['Films (English)', 'Films (Non-English)', 'TV (English)', 'TV (Non-English)']

#### Just the top-ranked titles

In [10]:
popular_df.query("rank == 1")

,category,rank,show_title,season_title,hours_viewed_first_91_days,runtime,views_first_91_days
0,Films (English),1,Red Notice,NaN,454200000,1.9667,230900000
10,Films (Non-English),1,Troll,NaN,178600000,1.7333,103000000
20,TV (English),1,Wednesday,Wednesday: Season 1,1718800000,6.8167,252100000
30,TV (Non-English),1,Squid Game,Squid Game: Season 1,2205200000,8.3167,265200000

---

## Netflix's methodology

Every Tuesday, we publish four global Top 10 lists for films and TV: Film (English), TV (English), Film (Non-English), and TV (Non-English). These lists rank titles based on âviewsâ for each title from Monday to Sunday of the previous week. We define views for a title as the total hours viewed divided by the total runtime. Values are rounded to 100,000.

We consider each season of a series and each film on their own, so you might see both Stranger Things seasons 2 and 3 in the Top 10. Because titles sometimes move in and out of the Top 10, we also show the total number of weeks that a season of a series or film has spent on the list.

To give you a sense of what people are watching around the world, we also publish Top 10 lists for nearly 100 countries and territories (the same locations where there are Top 10 rows on Netflix). Country lists are also ranked by views.

Finally, we provide a list of the Top 10 most popular Netflix films and TV overall (branded Netflix in any country) in each of the four categories based on the views of each title in its first 91 days.

Some TV shows have multiple premiere dates, whether weekly or in parts, and therefore the runtime increases over time. For the weekly lists, we show the views based on the total hours viewed during the week divided by the total runtime available at the end of the week. On the Most Popular List, we wait until all episodes have premiered, so you see the views of the entire season. For titles that are Netflix branded in some countries but not others, we still include all of the hours viewed.

Information on the site starts from June 28, 2021 and any lists published before June 20, 2023 are ranked by hours viewed.

---

## Exports

#### JSON

In [11]:
# df.to_json(
#     f"data/processed/NAME.json",
#     indent=4,
#     orient="records",
# )

#### CSV

In [12]:
# df.to_csv(
#     f"data/processed/NAME.csv", index=False
# )

#### GeoJSON

In [13]:
# gdf.to_file(
#     f"data/processed/NAME.geojson",
#     driver="GeoJSON",
# )