# Asian American demographics and geography

#### Load Python tools and Jupyter config

In [2]:
import json
import requests
import pandas as pd
import jupyter_black
import altair as alt
import geopandas as gpd

In [50]:
jupyter_black.load()
pd.options.display.max_columns = 100
pd.options.display.max_rows = 100
pd.options.display.max_colwidth = None

In [51]:
today = pd.Timestamp("today").strftime("%Y%m%d")

---

## Read

#### Dictionary/list for columns we need

In [93]:
cols = {
    "State": "state",
    "NAME": "name",
    "GEOID": "fips",
    "ALAND": "area_land_sqmeters",
    "B02001_001E": "tot_pop",
    "B02001_005E": "asian_alone",
    "B02018_005E": "chinese",
    "B02018_002E": "japanese",
    "B02018_008E": "korean",
    "B02018_004E": "taiwanese",
    "B02018_012E": "filipino",
    "geometry": "geometry",
}

In [94]:
groups = list(cols.keys())

#### Metadata

In [95]:
# https://stilesdata.com/census/asians/asians_county.geojson
counties_meta = pd.read_csv(
    "https://stilesdata.com/census/asians/asians_county_metadata.csv"
)

#### Import counties geojson file

In [96]:
# https://stilesdata.com/census/asians/asians_county.geojson
counties = gpd.read_file("data/raw/asians_county.geojson")[groups].rename(columns=cols)

In [97]:
counties["area_land_sqmile"] = round((counties["area_land_sqmeters"] / 2.59e6))

In [108]:
counties.query(
    'name == "Los Angeles County" or name == "Orange County" and state == "California"'
)[["name", "tot_pop", "asian_alone", "korean"]]

                   name  tot_pop  asian_alone  korean
203  Los Angeles County  9936690      1473634   39045
214       Orange County  3175227       688905   18067

In [110]:
counties.asian_alone.sum()

19119274

---

## Exports

#### JSON

In [17]:
# df.to_json(
#     f"data/processed/NAME.json",
#     indent=4,
#     orient="records",
# )

#### CSV

In [18]:
# df.to_csv(
#     f"data/processed/NAME.csv", index=False
# )

#### GeoJSON

In [19]:
# gdf.to_file(
#     f"data/processed/NAME.geojson",
#     driver="GeoJSON",
# )