### setup

In [1]:
%load_ext lab_black

In [2]:
import requests
import urllib.request
import numpy as np
import datetime
import random

In [3]:
import pandas as pd
import gspread
from oauth2client.service_account import ServiceAccountCredentials

In [4]:
import altair as alt
import altair_stiles as altstiles

alt.themes.register("stiles", altstiles.theme)
alt.themes.enable("grid")

ThemeRegistry.enable('grid')

In [5]:
from datawrapper import Datawrapper

dw = Datawrapper(
    access_token="PU52xuCQowgE5BFprvdnpFXzd5Ql9ISOSLBk58eNR2ykPztw0yC5fpqLTfsZdhyR"
)

In [6]:
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 1000

### uk pound us dollar exchange rate

In [7]:
import urllib.request, json

with urllib.request.urlopen(
    "https://api.stlouisfed.org/fred/series/observations?series_id=DEXUSUK&api_key=b98b54e0ff7221aca6e1b161f5b12435&file_type=json"
) as url:
    data = json.loads(url.read().decode())
    print(data["observations"])

In [8]:
dataframes = []
for d in data["observations"]:
    dataframes.append(pd.DataFrame(d, index=[0]))

In [20]:
df = pd.concat(dataframes).reset_index(drop=True)

In [21]:
df["date"] = pd.to_datetime(df["date"])

In [22]:
df

      realtime_start realtime_end       date   value
0         2022-10-14   2022-10-14 1971-01-04  2.3938
1         2022-10-14   2022-10-14 1971-01-05  2.3949
2         2022-10-14   2022-10-14 1971-01-06  2.3967
3         2022-10-14   2022-10-14 1971-01-07  2.3963
4         2022-10-14   2022-10-14 1971-01-08  2.3972
...              ...          ...        ...     ...
13500     2022-10-14   2022-10-14 2022-10-03  1.1272
13501     2022-10-14   2022-10-14 2022-10-04  1.1446
13502     2022-10-14   2022-10-14 2022-10-05  1.1275
13503     2022-10-14   2022-10-14 2022-10-06  1.1133
13504     2022-10-14   2022-10-14 2022-10-07  1.1116

[13505 rows x 4 columns]

In [27]:
df_22 = (
    df[(df["date"] >= "2022-01-01") & (df["value"] != ".")][["date", "value"]]
    .reset_index(drop=True)
)

In [28]:
dw.add_data(chart_id="7uU6X", data=df_22)