# IRS `outflow` migration at the state level

#### Import Python tools

In [2]:
%load_ext lab_black

In [3]:
import pandas as pd
import geopandas as gpd
import altair as alt
import altair_stiles as altstiles
import numpy as np
import us

In [4]:
alt.themes.register("stiles", altstiles.theme)
alt.themes.enable("grid")

ThemeRegistry.enable('grid')

In [5]:
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 1000
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

## Read [migration data](https://www.irs.gov/statistics/soi-tax-stats-data-by-geographic-area) from IRS (processed in 00, 01 notebooks)

In [6]:
inflow = pd.read_csv("data/processed/irs-state-inflow-migration-2019_20_grouped.csv")

In [7]:
inflow.head()

,destination_fips,destination_state,returns,inflow_taxpayers,population,new_inflow_taxpayers_per_1k,new_inflow_taxpayers_share_all_movers
0,12,Florida,337589,623700,21216924,29.40,9.08
1,48,Texas,280783,561736,28635442,19.62,8.17
2,6,California,248447,412714,39346023,10.49,6.01
3,37,North Carolina,157714,300941,10386227,28.98,4.38
4,13,Georgia,139003,273218,10516579,25.98,3.98

In [9]:
outflow = pd.read_csv("data/processed/irs-state-outflow-migration-2019_20_grouped.csv")

In [10]:
outflow.head()

,origin_fips,origin_state,returns,outflow_taxpayers,population,lost_outflow_taxpayers_per_1k,lost_outflow_taxpayers_share_all_movers
0,6,California,365922,676058,39346023,17.18,9.86
1,36,New York,278489,477131,19514849,24.45,6.96
2,12,Florida,256188,456993,21216924,21.54,6.66
3,48,Texas,218116,428286,28635442,14.96,6.25
4,17,Illinois,151628,272632,12716164,21.44,3.98

In [14]:
net = pd.merge(
    inflow[["destination_fips", "destination_state", "inflow_taxpayers"]],
    outflow[["origin_fips", "origin_state", "outflow_taxpayers"]],
    left_on="destination_fips",
    right_on="origin_fips",
)

In [16]:
net["net_taxpayers"] = net["inflow_taxpayers"] - net["outflow_taxpayers"]

In [19]:
net.sort_values("net_taxpayers", ascending=False)

,destination_fips,destination_state,inflow_taxpayers,origin_fips,origin_state,outflow_taxpayers,net_taxpayers
0,12,Florida,623700,12,Florida,456993,166707
1,48,Texas,561736,48,Texas,428286,133450
5,4,Arizona,247624,4,Arizona,167591,80033
3,37,North Carolina,300941,37,North Carolina,232767,68174
13,45,South Carolina,174073,45,South Carolina,120081,53992
11,47,Tennessee,201180,47,Tennessee,156078,45102
4,13,Georgia,273218,13,Georgia,236144,37074
28,16,Idaho,87032,16,Idaho,50377,36655
18,32,Nevada,130679,32,Nevada,102606,28073
25,49,Utah,93926,49,Utah,76769,17157
23,1,Alabama,105521,1,Alabama,88386,17135
26,40,Oklahoma,91661,40,Oklahoma,76869,14792
39,30,Montana,40530,30,Montana,28341,12189
21,41,Oregon,116294,41,Oregon,104649,11645
43,23,Maine,35152,23,Maine,23878,11274
10,8,Colorado,202479,8,Colorado,192270,10209
41,10,Delaware,37758,10,Delaware,27845,9913
38,33,New Hampshire,47718,33,New Hampshire,37813,9905
32,5,Arkansas,69579,5,Arkansas,60009,9570
17,29,Missouri,135064,29,Missouri,126136,8928
20,18,Indiana,128230,18,Indiana,119765,8465
8,53,Washington,209473,53,Washington,201318,8155
27,21,Kentucky,91310,21,Kentucky,85891,5419
49,50,Vermont,19449,50,Vermont,16330,3119
45,46,South Dakota,27567,46,South Dakota,24938,2629
35,35,New Mexico,59216,35,New Mexico,57568,1648
47,56,Wyoming,25580,56,Wyoming,24118,1462
24,55,Wisconsin,94280,55,Wisconsin,93773,507
44,44,Rhode Island,28370,44,Rhode Island,28313,57
42,54,West Virginia,36610,54,West Virginia,36945,-335
30,9,Connecticut,83388,9,Connecticut,86391,-3003
34,19,Iowa,60168,19,Iowa,63294,-3126
36,28,Mississippi,59160,28,Mississippi,63212,-4052
40,31,Nebraska,40247,31,Nebraska,44465,-4218
9,42,Pennsylvania,207220,42,Pennsylvania,212086,-4866
48,38,North Dakota,24969,38,North Dakota,30453,-5484
31,20,Kansas,76008,20,Kansas,82497,-6489
19,26,Michigan,128319,26,Michigan,135177,-6858
46,2,Alaska,27345,2,Alaska,34463,-7118
15,39,Ohio,163918,39,Ohio,172122,-8204
37,15,Hawaii,49439,15,Hawaii,58775,-9336
6,51,Virginia,241747,51,Virginia,251296,-9549
29,27,Minnesota,86290,27,Minnesota,97597,-11307
16,24,Maryland,148240,24,Maryland,168549,-20309
33,22,Louisiana,69520,22,Louisiana,90549,-21029
12,34,New Jersey,185054,34,New Jersey,208326,-23272
22,25,Massachusetts,112140,25,Massachusetts,149122,-36982
14,17,Illinois,171711,17,Illinois,272632,-100921
7,36,New York,228826,36,New York,477131,-248305
2,6,California,412714,6,California,676058,-263344

---

## Exports

In [28]:
# df.to_csv("data/processed/irs-state-outflow-migration-2019_20.csv", index=False)
# origins_grouped.to_csv(
#     "data/processed/irs-state-outflow-migration-2019_20_grouped.csv", index=False
# )