# NFL penalties statistics

#### Load Python tools and Jupyter config

In [1]:
%load_ext lab_black

In [41]:
import re
import os
import requests
import pandas as pd
import jupyter_black
from io import StringIO
from bs4 import BeautifulSoup
from tqdm.notebook import tqdm
from random import randint
from time import sleep
from tqdm import tqdm

In [25]:
pd.options.display.max_rows = 1000
pd.options.display.max_columns = 1000
pd.options.display.max_colwidth = None
jupyter_black.load()

In [26]:
SCRAPE_PROXY_KEY = os.getenv("SCRAPE_PROXY_KEY")  # Ensure your key is stored securely

## Fetch

#### Loop over seasons and collect lists of teams

In [27]:
teams_list = []

for season in tqdm(range(1970, 2024)):
    # Prepare the URL for the request
    url = f"https://www.pro-football-reference.com/years/{season}"

    # Fetch the page content using the proxy service
    response = requests.get(
        url="https://proxy.scrapeops.io/v1/",
        params={
            "api_key": SCRAPE_PROXY_KEY,
            "url": url,
        },
    )
    html_content = response.content

    # Use read_html with the fetched HTML content
    afc = pd.read_html(StringIO(html_content.decode("utf-8")), extract_links="body")[0][
        ["Tm"]
    ]
    nfc = pd.read_html(StringIO(html_content.decode("utf-8")), extract_links="body")[1][
        ["Tm"]
    ]

    # Combine them
    teams_src = pd.concat([afc, nfc]).reset_index(drop=True)

    # Extract team name, link from "extract_links" tuple
    teams_src["team"] = teams_src["Tm"].apply(lambda x: x[0] if x else None)
    teams_src["link"] = teams_src["Tm"].apply(lambda x: x[1] if x else None)

    # Drop rows without team information
    teams_df = (
        teams_src[~teams_src["team"].str.contains("AFC|NFC")].drop("Tm", axis=1).copy()
    )

    # Remove stray characters
    teams_df["team"] = (
        teams_df["team"]
        .str.replace("*", "", regex=False)
        .str.replace("+", "", regex=False)
    )

    # Add season to the dataframe, and append to list
    teams_df["season"] = season
    teams_list.append(teams_df)

    # Be kind to the server
    sleep(randint(2, 6))

  0%|          | 0/54 [00:00<?, ?it/s]

#### Concatenate all the dataframes into one large dataframe

In [ ]:
# Combine all seasons' data
all_teams_df = pd.concat(teams_list).reset_index(drop=True)

#### How many teams in each season?

In [33]:
teams_count = dict(all_teams_df.groupby("season").size())

#### Apply that to our dataframe

In [34]:
all_teams_df["teams_count"] = all_teams_df["season"].map(teams_count)

In [35]:
all_teams_df["team_abbr"] = all_teams_df["link"].str[7:10]

In [36]:
all_teams_df.head()

              team                 link  season  teams_count team_abbr
0  Baltimore Colts  /teams/clt/1970.htm    1970           26       clt
1   Miami Dolphins  /teams/mia/1970.htm    1970           26       mia
2    New York Jets  /teams/nyj/1970.htm    1970           26       nyj
3    Buffalo Bills  /teams/buf/1970.htm    1970           26       buf
4  Boston Patriots  /teams/nwe/1970.htm    1970           26       nwe

---

## Penalties

#### Loop over seasons and collect penalty states by team

In [ ]:
import os
import requests
import pandas as pd
from io import StringIO
from tqdm import tqdm

SCRAPE_PROXY_KEY = os.getenv("SCRAPE_PROXY_KEY")  # Ensure your key is stored securely

team_penalties_list = []


def process_row(row):
    url = f"https://www.pro-football-reference.com/teams/{row['team_abbr']}/{row['season']}.htm"

    # Fetch the page content using the proxy service
    response = requests.get(
        url="https://proxy.scrapeops.io/v1/",
        params={
            "api_key": SCRAPE_PROXY_KEY,
            "url": url,
        },
    )
    html_content = response.content

    # Use read_html with the fetched HTML content
    penalty_df = (
        pd.read_html(StringIO(html_content.decode("utf-8")), header=1)[0][
            ["Player", "Pen", "Yds.3", "1stPy"]
        ]
        .drop([2, 3])
        .rename(
            columns={
                "Player": "type",
                "Pen": "penalty_count",
                "Yds.3": "penalty_yards",
                "1stPy": "firsts_by_pen",
            }
        )
    )
    penalty_df["season"] = row["season"]
    penalty_df["team_name"] = row["team"]
    penalty_df["team_abbr"] = row["team_abbr"]
    penalty_df["teams"] = row["teams_count"] 
    team_penalties_list.append(penalty_df)


# Enable tqdm for pandas
tqdm.pandas()

# Use progress_apply instead of iterrows
all_teams_df.progress_apply(process_row, axis=1)

In [61]:
all_teams_df

                     team                 link  season  teams_count team_abbr
0         Baltimore Colts  /teams/clt/1970.htm    1970           26       clt
1          Miami Dolphins  /teams/mia/1970.htm    1970           26       mia
2           New York Jets  /teams/nyj/1970.htm    1970           26       nyj
3           Buffalo Bills  /teams/buf/1970.htm    1970           26       buf
4         Boston Patriots  /teams/nwe/1970.htm    1970           26       nwe
...                   ...                  ...     ...          ...       ...
1600    Carolina Panthers  /teams/car/2023.htm    2023           32       car
1601  San Francisco 49ers  /teams/sfo/2023.htm    2023           32       sfo
1602     Los Angeles Rams  /teams/ram/2023.htm    2023           32       ram
1603     Seattle Seahawks  /teams/sea/2023.htm    2023           32       sea
1604    Arizona Cardinals  /teams/crd/2023.htm    2023           32       crd

[1605 rows x 5 columns]

#### Concatenate

In [44]:
df = pd.concat(team_penalties_list).reset_index(drop=True)

In [45]:
df["type"] = (
    df["type"]
    .str.replace("Team Stats", "Team", regex=False)
    .str.replace("Opp. Stats", "Opponent", regex=False)
)

In [67]:
team_penalties_df = df.query("type == 'Team'").reset_index(drop=True).copy()

In [86]:
team_penalties_df["rank"] = (
    team_penalties_df.groupby("season")["penalty_yards"].rank(method="min").astype(int)
)

In [89]:
team_penalties_df.query("team_name == 'Dallas Cowboys'").sort_values(
    "season", ascending=False
)

,type,penalty_count,penalty_yards,firsts_by_pen,season,team_name,team_abbr,games,rank
1589,Team,115.0,964.0,43.0,2023,Dallas Cowboys,dal,32,32
1558,Team,104.0,842.0,24.0,2022,Dallas Cowboys,dal,32,23
1525,Team,127.0,1103.0,31.0,2021,Dallas Cowboys,dal,32,31
1495,Team,96.0,849.0,25.0,2020,Dallas Cowboys,dal,32,20
1462,Team,109.0,1008.0,30.0,2019,Dallas Cowboys,dal,32,25
1429,Team,104.0,885.0,25.0,2018,Dallas Cowboys,dal,32,11
1398,Team,97.0,939.0,25.0,2017,Dallas Cowboys,dal,32,19
1365,Team,105.0,879.0,25.0,2016,Dallas Cowboys,dal,32,14
1336,Team,112.0,882.0,38.0,2015,Dallas Cowboys,dal,32,13
1301,Team,105.0,839.0,31.0,2014,Dallas Cowboys,dal,32,12
1270,Team,102.0,867.0,32.0,2013,Dallas Cowboys,dal,32,20
1239,Team,117.0,853.0,25.0,2012,Dallas Cowboys,dal,32,16
1207,Team,114.0,816.0,17.0,2011,Dallas Cowboys,dal,32,12
1175,Team,109.0,863.0,22.0,2010,Dallas Cowboys,dal,32,19
1141,Team,115.0,892.0,22.0,2009,Dallas Cowboys,dal,32,28
1111,Team,120.0,957.0,18.0,2008,Dallas Cowboys,dal,32,31
1077,Team,104.0,815.0,22.0,2007,Dallas Cowboys,dal,32,25
1046,Team,100.0,939.0,32.0,2006,Dallas Cowboys,dal,32,27
1015,Team,99.0,739.0,44.0,2005,Dallas Cowboys,dal,32,3
983,Team,105.0,867.0,24.0,2004,Dallas Cowboys,dal,32,10
950,Team,98.0,837.0,22.0,2003,Dallas Cowboys,dal,32,13
920,Team,105.0,974.0,21.0,2002,Dallas Cowboys,dal,32,28
890,Team,91.0,744.0,23.0,2001,Dallas Cowboys,dal,31,13
858,Team,108.0,963.0,32.0,2000,Dallas Cowboys,dal,31,26
825,Team,136.0,1196.0,27.0,1999,Dallas Cowboys,dal,31,31
793,Team,128.0,1106.0,29.0,1998,Dallas Cowboys,dal,30,26
766,Team,116.0,1058.0,27.0,1997,Dallas Cowboys,dal,30,28
733,Team,103.0,832.0,18.0,1996,Dallas Cowboys,dal,30,15
703,Team,90.0,695.0,28.0,1995,Dallas Cowboys,dal,30,8
674,Team,100.0,895.0,26.0,1994,Dallas Cowboys,dal,28,18
646,Team,94.0,744.0,30.0,1993,Dallas Cowboys,dal,28,15
618,Team,91.0,650.0,22.0,1992,Dallas Cowboys,dal,28,5
591,Team,74.0,610.0,24.0,1991,Dallas Cowboys,dal,28,2
565,Team,98.0,729.0,27.0,1990,Dallas Cowboys,dal,28,13
538,Team,100.0,771.0,23.0,1989,Dallas Cowboys,dal,28,11
510,Team,141.0,1148.0,24.0,1988,Dallas Cowboys,dal,28,27
479,Team,131.0,1091.0,24.0,1987,Dallas Cowboys,dal,28,27
452,Team,112.0,936.0,28.0,1986,Dallas Cowboys,dal,28,23
422,Team,100.0,759.0,33.0,1985,Dallas Cowboys,dal,28,13
397,Team,100.0,947.0,28.0,1984,Dallas Cowboys,dal,28,21
367,Team,99.0,847.0,28.0,1983,Dallas Cowboys,dal,28,17
339,Team,42.0,304.0,11.0,1982,Dallas Cowboys,dal,28,4
310,Team,103.0,839.0,26.0,1981,Dallas Cowboys,dal,28,9
283,Team,109.0,908.0,23.0,1980,Dallas Cowboys,dal,28,17
254,Team,100.0,845.0,22.0,1979,Dallas Cowboys,dal,28,11
226,Team,96.0,816.0,29.0,1978,Dallas Cowboys,dal,28,7
198,Team,106.0,865.0,18.0,1977,Dallas Cowboys,dal,28,20
170,Team,94.0,761.0,18.0,1976,Dallas Cowboys,dal,28,11
144,Team,94.0,715.0,14.0,1975,Dallas Cowboys,dal,26,10
119,Team,86.0,703.0,19.0,1974,Dallas Cowboys,dal,26,18
91,Team,83.0,762.0,15.0,1973,Dallas Cowboys,dal,26,19
66,Team,90.0,841.0,12.0,1972,Dallas Cowboys,dal,26,25
39,Team,94.0,952.0,9.0,1971,Dallas Cowboys,dal,26,25
13,Team,87.0,934.0,15.0,1970,Dallas Cowboys,dal,26,20