# FBI background checks - States and categories

### Import Python tools and Jupyter configuration

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd
import geopandas as gpd
import altair as alt
import datetime as dt
import numpy as np

In [3]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 1000
pd.options.display.max_colwidth = None

In [4]:
month_year_updated = dt.date.today().strftime("%m_%Y")

---

### Bless you @jsvine

In [5]:
url = "https://raw.githubusercontent.com/BuzzFeedNews/nics-firearm-background-checks/master/data/nics-firearm-background-checks.csv"

### Read data

In [20]:
src = pd.read_csv(url)

In [27]:
src["year"] = src["month"].str[:4]

### Exclude permits figures

In [28]:
src["totals_no_permits"] = src["totals"] - src["permit"]

In [29]:
df = src[["month", "year", "state", "handgun", "long_gun", "totals_no_permits"]]

In [30]:
df.tail()

         month  year          state  handgun  long_gun  totals_no_permits
15230  1998-11  1998       Virginia     14.0       2.0               24.0
15231  1998-11  1998     Washington     65.0     286.0              360.0
15232  1998-11  1998  West Virginia    149.0     251.0              405.0
15233  1998-11  1998      Wisconsin     25.0     214.0              241.0
15234  1998-11  1998        Wyoming     45.0      49.0               99.0

In [34]:
grouped = (
    df.groupby(["year"])
    .agg({"handgun": sum, "long_gun": sum, "totals_no_permits": sum})
    .reset_index()
)

In [35]:
grouped

    year     handgun   long_gun  totals_no_permits
0   1998    219999.0   582791.0           813729.0
1   1999   2536738.0  5217451.0          8006047.0
2   2000   2191879.0  4779978.0          7199282.0
3   2001   2167213.0  4943375.0          7411707.0
4   2002   1845112.0  4409311.0          7003858.0
5   2003   1851078.0  4383057.0          6998748.0
6   2004   1990460.0  4506847.0          7234219.0
7   2005   2241740.0  4584462.0          7516822.0
8   2006   2441325.0  4789591.0          7918324.0
9   2007   2635629.0  4570697.0          8083470.0
10  2008   3331199.0  4907967.0          8993964.0
11  2009   3689604.0  4978641.0          9534131.0
12  2010   3678001.0  4842184.0          9436182.0
13  2011   4301389.0  5445966.0         10791275.0
14  2012   5682963.0  6866225.0         13780285.0
15  2013   6387502.0  7128798.0         14796872.0
16  2014   6199243.0  5543371.0         13090383.0
17  2015   7333808.0  5479441.0         14244240.0
18  2016   8085498.0  5988511.0         16290861.0
19  2017   7226979.0  5234757.0         15014235.0
20  2018   6576111.0  4916533.0         15540279.0
21  2019   6802167.0  4744298.0         21524540.0
22  2020  11897521.0  7132864.0         33298913.0
23  2021   9074815.0  5807623.0         28485276.0

In [32]:
grouped_states = (
    df.groupby(["year", "state"])
    .agg({"handgun": sum, "long_gun": sum, "totals_no_permits": sum})
    .reset_index()
)

In [36]:
grouped_states

      year          state   handgun  long_gun  totals_no_permits
0     1998        Alabama   10567.0   25723.0            36568.0
1     1998         Alaska    1365.0    2555.0             3981.0
2     1998        Arizona    7157.0    8275.0            15720.0
3     1998       Arkansas    4649.0   16914.0            21752.0
4     1998     California   28641.0   33438.0            62079.0
...    ...            ...       ...       ...                ...
1315  2021       Virginia  332437.0  195751.0           582695.0
1316  2021     Washington  255305.0  152596.0           480036.0
1317  2021  West Virginia   72984.0   74354.0           172938.0
1318  2021      Wisconsin  249528.0  161846.0           440540.0
1319  2021        Wyoming   30314.0   30469.0            68600.0

[1320 rows x 5 columns]