# TSLA stock performance

#### Load Python tools

In [39]:
%load_ext lab_black

The lab_black extension is already loaded. To reload it, use:
  %reload_ext lab_black

In [40]:
import pandas as pd
import altair as alt
import altair_stiles as altstiles
import datetime as dt
import time

In [41]:
alt.themes.register("stiles", altstiles.theme)
alt.themes.enable("stiles")

ThemeRegistry.enable('stiles')

In [42]:
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 1000

#### Get date as a string and unix time

In [43]:
today = dt.datetime.today().strftime("%Y-%m-%d")

In [44]:
now = round(time.time())

---

#### Read data from Yahoo! Finance

In [126]:
src = pd.read_json(
    f"https://query1.finance.yahoo.com/v8/finance/chart/TSLA?symbol=TSLA&period1=1341817200&period2={now}&useYfid=true&interval=1d&includePrePost=true&events=div%7Csplit%7Cearn&lang=en-US&region=US&crumb=IgiovSYKfWc&corsDomain=finance.yahoo.com"
)["chart"]["result"]

In [127]:
df = pd.DataFrame(columns=["datetime", "close"])

In [128]:
df["datetime"] = pd.to_datetime(src[0]["timestamp"], unit="s")
df["close"] = src[0]["indicators"]["quote"][0]["close"]

In [129]:
df["close"] = df["close"].round(2)

In [130]:
df["date"] = pd.to_datetime(df["datetime"].dt.date)

In [131]:
# latest_close = df.tail(1)["close"].round(2).iloc[0]
# latest_close

In [132]:
# jan_close = df.query('datetime > "2022-01-01"').head(1)["close"].round(2).iloc[0]

In [133]:
# df["jan_close"] = jan_close

In [134]:
df

                datetime   close       date
0    2012-07-09 13:30:00    2.10 2012-07-09
1    2012-07-10 13:30:00    2.08 2012-07-10
2    2012-07-11 13:30:00    2.10 2012-07-11
3    2012-07-12 13:30:00    2.18 2012-07-12
4    2012-07-13 13:30:00    2.28 2012-07-13
...                  ...     ...        ...
2629 2022-12-16 14:30:00  150.23 2022-12-16
2630 2022-12-19 14:30:00  149.87 2022-12-19
2631 2022-12-20 14:30:00  137.80 2022-12-20
2632 2022-12-21 14:30:00  137.57 2022-12-21
2633 2022-12-22 21:00:04  125.35 2022-12-22

[2634 rows x 3 columns]

---

## Export

In [12]:
df[["date", "close"]].to_csv("data/processed/tsla_closing_price.csv", index=False)