#### setup

In [1]:
%load_ext lab_black

In [2]:
import requests
import urllib.request
import numpy as np
import datetime
import random
import json

In [3]:
import pandas as pd
import gspread
from oauth2client.service_account import ServiceAccountCredentials

In [4]:
import altair as alt
import altair_grid as altgrid

alt.themes.register("grid", altgrid.theme)
alt.themes.enable("grid")

ThemeRegistry.enable('grid')

In [5]:
from datawrapper import Datawrapper

dw = Datawrapper(
    access_token="FtIwtvFtoGLaRT9a3gjX69PLu4wSuRyKddoOz6SOPw3k9wWyNICMHTkcPhOGCR5Z"
)

In [6]:
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 1000

In [7]:
scope = ["https://spreadsheets.google.com/feeds"]
# credentials = ServiceAccountCredentials.from_json_keyfile_name(
#    "jupyter-integration-credentials-redistricting.json", scope
# )
# gc = gspread.authorize(credentials)

In [8]:
url = "https://www.bls.gov/oes/current/oes291141.htm"

In [9]:
html = requests.get(url)

In [10]:
page = html.text

In [11]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(page, "html.parser")

In [17]:
table = soup.find("table", id="oes29-1141_c")

In [19]:
rows = table.find_all("tr")

In [33]:
headers = table.find_all("th")
colnames = []
for header in headers:
    colnames.append(header.text)

In [25]:
cells = table.find_all("td")

In [48]:
industry = []
employment = []
pct = []
h_mean = []
a_mean = []
for row in rows[1:]:
    cells = row.find_all("td")
    industry.append(cells[0].text)
    employment.append(cells[1].text)
    pct.append(cells[2].text)
    h_mean.append(cells[3].text)
    a_mean.append(cells[4].text)

In [51]:
df_21 = pd.DataFrame(
    {
        "industry": industry,
        "employment": employment,
        "pct": pct,
        "h_mean": h_mean,
        "a_mean": a_mean,
    }
)

#### get 2019 and 2020 data

In [104]:
url = "https://www.bls.gov/oes/2020/may/oes291141.htm"

In [105]:
html = requests.get(url)

In [99]:
page = html.text

In [106]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(page, "html.parser")

In [107]:
table = soup.find_all("table")[3]

In [108]:
table

<table border="1" cellpadding="5" id="oes29-1141_c">
<tr>
<th align="center" valign="middle" width="300"> Industry </th>
<th align="center" valign="middle" width="100"> Employment <a href="#(1)">(1)</a> </th>
<th align="center" valign="middle" width="100"> Percent of industry employment </th>
<th align="center" valign="middle" width="100"> Hourly mean wage </th>
<th align="center" valign="middle" width="100"> Annual mean wage <a href="#(2)">(2)</a> </th>
</tr>
<tr>
<td align="center" valign="middle" width="300"><a href="naics4_622100.htm">General Medical and Surgical Hospitals</a> </td>
<td align="center" valign="middle" width="100">  1,729,200</td>
<td align="center" valign="middle" width="100">     30.90</td>
<td align="center" valign="middle" width="100">$  39.27</td>
<td align="center" valign="middle" width="100">$     81,680</td>
</tr>
<tr>
<td align="center" valign="middle" width="300"><a href="naics4_621100.htm">Offices of Physicians</a> </td>
<td align="center" valign="middle" width="100">    192,300</td>
<td align="center" valign="middle" width="100">      7.42</td>
<td align="center" valign="middle" width="100">$  34.45</td>
<td align="center" valign="middle" width="100">$     71,660</td>
</tr>
<tr>
<td align="center" valign="middle" width="300"><a href="naics4_621600.htm">Home Health Care Services</a> </td>
<td align="center" valign="middle" width="100">    169,630</td>
<td align="center" valign="middle" width="100">     11.35</td>
<td align="center" valign="middle" width="100">$  36.48</td>
<td align="center" valign="middle" width="100">$     75,870</td>
</tr>
<tr>
<td align="center" valign="middle" width="300"><a href="naics4_621400.htm">Outpatient Care Centers</a> </td>
<td align="center" valign="middle" width="100">    150,380</td>
<td align="center" valign="middle" width="100">     15.66</td>
<td align="center" valign="middle" width="100">$  42.93</td>
<td align="center" valign="middle" width="100">$     89,300</td>
</tr>
<tr>
<td align="center" valign="middle" width="300"><a href="naics4_623100.htm">Nursing Care Facilities (Skilled Nursing Facilities)</a> </td>
<td align="center" valign="middle" width="100">    143,250</td>
<td align="center" valign="middle" width="100">      9.34</td>
<td align="center" valign="middle" width="100">$  34.66</td>
<td align="center" valign="middle" width="100">$     72,090</td>
</tr>
</table>

In [109]:
rows = table.find_all("tr")

In [110]:
headers = table.find_all("th")
colnames = []
for header in headers:
    colnames.append(header.text)

In [111]:
cells = table.find_all("td")

In [112]:
industry = []
employment = []
pct = []
h_mean = []
a_mean = []
for row in rows[1:]:
    cells = row.find_all("td")
    industry.append(cells[0].text)
    employment.append(cells[1].text)
    pct.append(cells[2].text)
    h_mean.append(cells[3].text)
    a_mean.append(cells[4].text)

In [113]:
df_20 = pd.DataFrame(
    {
        "industry": industry,
        "employment": employment,
        "pct": pct,
        "h_mean": h_mean,
        "a_mean": a_mean,
    }
)

In [114]:
df_20

,industry,employment,pct,h_mean,a_mean
0,General Medical and Surgical Hospitals,"1,729,200",30.90,$ 39.27,"$ 81,680"
1,Offices of Physicians,"192,300",7.42,$ 34.45,"$ 71,660"
2,Home Health Care Services,"169,630",11.35,$ 36.48,"$ 75,870"
3,Outpatient Care Centers,"150,380",15.66,$ 42.93,"$ 89,300"
4,Nursing Care Facilities (Skilled Nursing Facil...,"143,250",9.34,$ 34.66,"$ 72,090"

In [63]:
df_21

,industry,employment,pct,h_mean,a_mean
0,General Medical and Surgical Hospitals,"1,752,210",31.32,$ 40.88,"$ 85,020"
1,Offices of Physicians,"199,130",7.39,$ 35.51,"$ 73,860"
2,Home Health Care Services,"173,790",11.47,$ 37.59,"$ 78,190"
3,Outpatient Care Centers,"147,720",14.97,$ 44.74,"$ 93,070"
4,Nursing Care Facilities (Skilled Nursing Facil...,"131,320",9.33,$ 34.74,"$ 72,260"

In [64]:
url = "https://www.bls.gov/oes/2019/may/oes291141.htm"

In [65]:
html = requests.get(url)

In [66]:
page = html.text

In [67]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(page, "html.parser")

In [77]:
table = soup.find_all("table")[3]

In [79]:
rows = table.find_all("tr")

In [80]:
headers = table.find_all("th")
colnames = []
for header in headers:
    colnames.append(header.text)

In [81]:
cells = table.find_all("td")

In [82]:
industry = []
employment = []
pct = []
h_mean = []
a_mean = []
for row in rows[1:]:
    cells = row.find_all("td")
    industry.append(cells[0].text)
    employment.append(cells[1].text)
    pct.append(cells[2].text)
    h_mean.append(cells[3].text)
    a_mean.append(cells[4].text)

In [84]:
df_19 = pd.DataFrame(
    {
        "industry": industry,
        "employment": employment,
        "pct": pct,
        "h_mean": h_mean,
        "a_mean": a_mean,
    }
)

In [118]:
df_19

,industry,employment,pct,h_mean,a_mean
0,General Medical and Surgical Hospitals,"1,713,120",30.69,$38.20,"$79,460"
1,Offices of Physicians,"197,890",7.47,$33.45,"$69,570"
2,Home Health Care Services,"177,790",11.86,$35.41,"$73,660"
3,Nursing Care Facilities (Skilled Nursing Facil...,"151,300",9.43,$33.53,"$69,740"
4,Outpatient Care Centers,"147,550",15.47,$40.73,"$84,720"

In [119]:
df_20

,industry,employment,pct,h_mean,a_mean
0,General Medical and Surgical Hospitals,"1,729,200",30.90,$ 39.27,"$ 81,680"
1,Offices of Physicians,"192,300",7.42,$ 34.45,"$ 71,660"
2,Home Health Care Services,"169,630",11.35,$ 36.48,"$ 75,870"
3,Outpatient Care Centers,"150,380",15.66,$ 42.93,"$ 89,300"
4,Nursing Care Facilities (Skilled Nursing Facil...,"143,250",9.34,$ 34.66,"$ 72,090"

In [120]:
df_21

,industry,employment,pct,h_mean,a_mean
0,General Medical and Surgical Hospitals,"1,752,210",31.32,$ 40.88,"$ 85,020"
1,Offices of Physicians,"199,130",7.39,$ 35.51,"$ 73,860"
2,Home Health Care Services,"173,790",11.47,$ 37.59,"$ 78,190"
3,Outpatient Care Centers,"147,720",14.97,$ 44.74,"$ 93,070"
4,Nursing Care Facilities (Skilled Nursing Facil...,"131,320",9.33,$ 34.74,"$ 72,260"