# Mysterious deaths in Russia 2022

#### Import Python tools

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd
import geopandas as gpd
import altair as alt
import altair_stiles as altstiles
import numpy as np

In [3]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials
from df2gspread import df2gspread as d2g

In [4]:
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 1000

In [5]:
scope = ["https://spreadsheets.google.com/feeds"]
credentials = ServiceAccountCredentials.from_json_keyfile_name(
    "credentials.json", scope
)
gc = gspread.authorize(credentials)
spreadsheet_key = "13ekdQBypFKzwRr1wQ6_QZChXM2iTC8i_05gZ4MAVFSs"
book = gc.open_by_key(spreadsheet_key)

In [6]:
alt.themes.register("stiles", altstiles.theme)
alt.themes.enable("grid")

ThemeRegistry.enable('grid')

In [7]:
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 1000
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

In [8]:
today = pd.to_datetime("today").strftime("%Y-%m-%d")

---

In [9]:
url = "https://en.wikipedia.org/wiki/2022_Russian_businessmen_mystery_deaths"

In [10]:
src = pd.read_html(url)[0]

In [11]:
src.head()

,Name,Date of death,Place found dead,Circumstances,Position
0,Leonid Shulman,30 January 2022,Leningrad Oblast residence's bathroom[4],Suicide note found next to his body.[4],Head of transport at Gazprom Invest.[9][5][4]
1,Alexander Tyulakov,25 February 2022,Saint Petersburg residence's garage[4],Suicide note found on his body.[4],Executive at Gazprom.[9][5][4]
2,Mikhail Watford,28 February 2022,Surrey residence's garage[4],British authorities have not found evidence of...,Ukrainian-born Russian billionaire.[9][10][5][4]
3,Vasily Melnikov,23 March 2022,Nizhny Novgorod apartment[4],Wife and two sons were found dead beside him.[4],Russian businessman.[9][5] Owner of Medstorm.[4]
4,Vladislav Avayev,18 April 2022,Moscow luxury apartment[4],Wife and 13-year-old daughter were found dead ...,Former vice-president at Gazprombank.[9][5][11]

In [12]:
src["Place found dead"] = (
    src["Place found dead"]
    .str.replace("[1]", "", regex=False)
    .str.replace("[2]", "", regex=False)
    .str.replace("[3]", "", regex=False)
    .str.replace("[4]", "", regex=False)
    .str.replace("[5]", "", regex=False)
    .str.replace("[6]", "", regex=False)
    .str.replace("[7]", "", regex=False)
    .str.replace("[8]", "", regex=False)
    .str.replace("[9]", "", regex=False)
    .str.replace("[10]", "", regex=False)
    .str.replace("[11]", "", regex=False)
    .str.replace("[12]", "", regex=False)
    .str.replace("[13]", "", regex=False)
    .str.replace("[14]", "", regex=False)
    .str.replace("[15]", "", regex=False)
    .str.replace("[16]", "", regex=False)
    .str.replace("[17]", "", regex=False)
    .str.replace("[18]", "", regex=False)
    .str.replace("[19]", "", regex=False)
    .str.replace("[ru]", "", regex=False)
)

In [13]:
src["Position"] = (
    src["Position"]
    .str.replace("[1]", "", regex=False)
    .str.replace("[2]", "", regex=False)
    .str.replace("[3]", "", regex=False)
    .str.replace("[4]", "", regex=False)
    .str.replace("[5]", "", regex=False)
    .str.replace("[6]", "", regex=False)
    .str.replace("[7]", "", regex=False)
    .str.replace("[8]", "", regex=False)
    .str.replace("[9]", "", regex=False)
    .str.replace("[10]", "", regex=False)
    .str.replace("[11]", "", regex=False)
    .str.replace("[12]", "", regex=False)
    .str.replace("[13]", "", regex=False)
    .str.replace("[14]", "", regex=False)
    .str.replace("[15]", "", regex=False)
    .str.replace("[16]", "", regex=False)
    .str.replace("[17]", "", regex=False)
    .str.replace("[18]", "", regex=False)
    .str.replace("[19]", "", regex=False)
)

In [14]:
src["Circumstances"] = (
    src["Circumstances"]
    .str.replace("[1]", "", regex=False)
    .str.replace("[2]", "", regex=False)
    .str.replace("[3]", "", regex=False)
    .str.replace("[4]", "", regex=False)
    .str.replace("[5]", "", regex=False)
    .str.replace("[6]", "", regex=False)
    .str.replace("[7]", "", regex=False)
    .str.replace("[8]", "", regex=False)
    .str.replace("[9]", "", regex=False)
    .str.replace("[10]", "", regex=False)
    .str.replace("[11]", "", regex=False)
    .str.replace("[12]", "", regex=False)
    .str.replace("[13]", "", regex=False)
    .str.replace("[14]", "", regex=False)
    .str.replace("[15]", "", regex=False)
    .str.replace("[16]", "", regex=False)
    .str.replace("[17]", "", regex=False)
    .str.replace("[18]", "", regex=False)
    .str.replace("[19]", "", regex=False)
)

In [15]:
src["Date of death"] = (
    src["Date of death"]
    .str.replace("[1]", "", regex=False)
    .str.replace("[2]", "", regex=False)
    .str.replace("[3]", "", regex=False)
    .str.replace("[4]", "", regex=False)
    .str.replace("[5]", "", regex=False)
    .str.replace("[6]", "", regex=False)
    .str.replace("[7]", "", regex=False)
    .str.replace("[8]", "", regex=False)
    .str.replace("[9]", "", regex=False)
    .str.replace("[10]", "", regex=False)
    .str.replace("[11]", "", regex=False)
    .str.replace("[12]", "", regex=False)
    .str.replace("[13]", "", regex=False)
    .str.replace("[14]", "", regex=False)
    .str.replace("[15]", "", regex=False)
    .str.replace("[16]", "", regex=False)
    .str.replace("[17]", "", regex=False)
    .str.replace("[18]", "", regex=False)
    .str.replace("[19]", "", regex=False)
)

In [16]:
src.head()

,Name,Date of death,Place found dead,Circumstances,Position
0,Leonid Shulman,30 January 2022,Leningrad Oblast residence's bathroom,Suicide note found next to his body.,Head of transport at Gazprom Invest.
1,Alexander Tyulakov,25 February 2022,Saint Petersburg residence's garage,Suicide note found on his body.,Executive at Gazprom.
2,Mikhail Watford,28 February 2022,Surrey residence's garage,British authorities have not found evidence of...,Ukrainian-born Russian billionaire.
3,Vasily Melnikov,23 March 2022,Nizhny Novgorod apartment,Wife and two sons were found dead beside him.,Russian businessman. Owner of Medstorm.
4,Vladislav Avayev,18 April 2022,Moscow luxury apartment,Wife and 13-year-old daughter were found dead ...,Former vice-president at Gazprombank.

In [17]:
src.columns = src.columns.str.lower().str.replace(" ", "_")

In [18]:
src["date_of_death"] = (
    src["date_of_death"]
    .str.replace("2–3 May 2022", "2 May 2022")
    .str.replace("8–9 May 2022", "8 May 2022")
)

In [19]:
src["circumstances"] = src["circumstances"].str.replace(" [ru]", "", regex=False)

In [20]:
src["date"] = pd.to_datetime(src["date_of_death"])

In [21]:
src["month_year"] = src["date"].dt.strftime("%B %Y")

In [22]:
src.head()

,name,date_of_death,place_found_dead,circumstances,position,date,month_year
0,Leonid Shulman,30 January 2022,Leningrad Oblast residence's bathroom,Suicide note found next to his body.,Head of transport at Gazprom Invest.,2022-01-30,January 2022
1,Alexander Tyulakov,25 February 2022,Saint Petersburg residence's garage,Suicide note found on his body.,Executive at Gazprom.,2022-02-25,February 2022
2,Mikhail Watford,28 February 2022,Surrey residence's garage,British authorities have not found evidence of...,Ukrainian-born Russian billionaire.,2022-02-28,February 2022
3,Vasily Melnikov,23 March 2022,Nizhny Novgorod apartment,Wife and two sons were found dead beside him.,Russian businessman. Owner of Medstorm.,2022-03-23,March 2022
4,Vladislav Avayev,18 April 2022,Moscow luxury apartment,Wife and 13-year-old daughter were found dead ...,Former vice-president at Gazprombank.,2022-04-18,April 2022

In [23]:
df = src[["name", "position", "place_found_dead", "circumstances", "month_year"]].copy()

In [24]:
# wks_name = "data"
# d2g.upload(df, spreadsheet_key, wks_name, credentials=credentials, row_names=False)

In [26]:
dead_dudes = df.name.to_list()

In [27]:
dead_dudes

['Leonid Shulman',
 'Alexander Tyulakov',
 'Mikhail Watford',
 'Vasily Melnikov',
 'Vladislav Avayev',
 'Sergey Protosenya',
 'Andrei Krukovsky',
 'Alexander Subbotin',
 'Yuri Voronov',
 'Dan Rapoport',
 'Ravil Maganov',
 'Ivan Pechorin',
 'Vladimir Nikolayevich Sungorkin']