### setup

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd
import requests
import pageviewapi
import datetime as dt
from bs4 import BeautifulSoup
import altair as alt
import altair_grid as altgrid

alt.themes.register("grid", altgrid.theme)
alt.themes.enable("grid")

import gspread
from oauth2client.service_account import ServiceAccountCredentials

In [13]:
import datetime as dt

In [3]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 1000
pd.options.display.max_colwidth = None

In [4]:
from datawrapper import Datawrapper

dw = Datawrapper(
    access_token="PU52xuCQowgE5BFprvdnpFXzd5Ql9ISOSLBk58eNR2ykPztw0yC5fpqLTfsZdhyR"
)

### read data

In [7]:
df = pd.read_csv("data/raw/hurricanes/events-US-1980-2022.csv", skiprows=1)

In [9]:
df.columns = df.columns.str.lower().str.replace(" ", "_")

In [12]:
df["date"] = pd.to_datetime(df["begin_date"], format="%Y%m%d")

In [14]:
df["year"] = df["date"].dt.year

In [23]:
df["cost"] = df["total_cpi-adjusted_cost_(millions_of_dollars)"].str.replace(
    "TBD", "NaN"
)

In [24]:
df["cost"] = df["cost"].astype(float)

In [26]:
hurricane_costs = (
    df[df["disaster"] == "Tropical Cyclone"][["year", "cost"]]
    .groupby("year")
    .agg(sum)
    .reset_index()
)

In [28]:
# dw.create_chart(
#    "cost of hurricanes over time", chart_type="d3-area", data=hurricane_costs
# )
chart_id = "Xc2gB"

In [29]:
#checking numbers are correct
hurricanes = df[df["disaster"] == "Tropical Cyclone"]

In [34]:
hurricanes[hurricanes["year"] == 2017]

In [36]:
hurricanes.sort_values("cost", ascending=False)

,name,disaster,begin_date,end_date,total_cpi-adjusted_cost_(millions_of_dollars),deaths,date,year,cost
115,Hurricane Katrina (August 2005),Tropical Cyclone,20050825,20050830,186294.0,1833,2005-08-25,2005,186294.0
247,Hurricane Harvey (August 2017),Tropical Cyclone,20170825,20170831,148750.0,89,2017-08-25,2017,148750.0
249,Hurricane Maria (September 2017),Tropical Cyclone,20170919,20170921,107100.0,2981,2017-09-19,2017,107100.0
186,Hurricane Sandy (October 2012),Tropical Cyclone,20121030,20121031,81950.0,159,2012-10-30,2012,81950.0
317,Hurricane Ida (August 2021),Tropical Cyclone,20210829,20210901,78722.3,96,2021-08-29,2021,78722.3
248,Hurricane Irma (September 2017),Tropical Cyclone,20170906,20170912,59500.0,97,2017-09-06,2017,59500.0
42,Hurricane Andrew (August 1992),Tropical Cyclone,19920823,19920827,55890.0,61,1992-08-23,1992,55890.0
141,Hurricane Ike (September 2008),Tropical Cyclone,20080912,20080914,40198.5,112,2008-09-12,2008,40198.5
111,Hurricane Ivan (September 2004),Tropical Cyclone,20040912,20040921,31570.9,57,2004-09-12,2004,31570.9
264,Hurricane Michael (October 2018),Tropical Cyclone,20181010,20181011,28971.0,49,2018-10-10,2018,28971.0
118,Hurricane Wilma (October 2005),Tropical Cyclone,20051024,20051024,27930.0,35,2005-10-24,2005,27930.0
263,Hurricane Florence (September 2018),Tropical Cyclone,20180913,20180916,27840.0,53,2018-09-13,2018,27840.0
117,Hurricane Rita (September 2005),Tropical Cyclone,20050920,20050924,27195.1,119,2005-09-20,2005,27195.1
296,Hurricane Laura (August 2020),Tropical Cyclone,20200827,20200828,26000.8,42,2020-08-27,2020,26000.8
109,Hurricane Charley (August 2004),Tropical Cyclone,20040813,20040814,24639.2,35,2004-08-13,2004,24639.2
27,Hurricane Hugo (September 1989),Tropical Cyclone,19890921,19890922,21059.8,86,1989-09-21,1989,21059.8
173,Hurricane Irene (August 2011),Tropical Cyclone,20110826,20110828,17407.3,45,2011-08-26,2011,17407.3
110,Hurricane Frances (September 2004),Tropical Cyclone,20040903,20040909,15092.0,48,2004-09-03,2004,15092.0
93,Tropical Storm Allison (June 2001),Tropical Cyclone,20010605,20010617,13976.1,43,2001-06-05,2001,13976.1
231,Hurricane Matthew (October 2016),Tropical Cyclone,20161008,20161012,12100.0,49,2016-10-08,2016,12100.0
112,Hurricane Jeanne (September 2004),Tropical Cyclone,20040915,20040929,11544.8,28,2004-09-15,2004,11544.8
85,Hurricane Floyd (September 1999),Tropical Cyclone,19990914,19990916,11294.4,77,1999-09-14,1999,11294.4
78,Hurricane Georges (September 1998),Tropical Cyclone,19980920,19980929,10712.2,16,1998-09-20,1998,10712.2
67,Hurricane Fran (September 1996),Tropical Cyclone,19960905,19960908,9263.0,37,1996-09-05,1996,9263.0
63,Hurricane Opal (October 1995),Tropical Cyclone,19951004,19951006,8909.1,27,1995-10-04,1995,8909.1
10,Hurricane Alicia (August 1983),Tropical Cyclone,19830817,19830820,8760.0,21,1983-08-17,1983,8760.0
104,Hurricane Isabel (September 2003),Tropical Cyclone,20030918,20030919,8664.8,55,2003-09-18,2003,8664.8
297,Hurricane Sally (September 2020),Tropical Cyclone,20200915,20200917,8147.0,5,2020-09-15,2020,8147.0
140,Hurricane Gustav (September 2008),Tropical Cyclone,20080831,20080903,7976.0,53,2008-08-31,2008,7976.0
43,Hurricane Iniki (September 1992),Tropical Cyclone,19920911,19920912,6417.0,7,1992-09-11,1992,6417.0
278,Tropical Storm Imelda (September 2019),Tropical Cyclone,20190917,20190921,5700.0,5,2019-09-17,2019,5700.0
294,Hurricane Isaias (August 2020),Tropical Cyclone,20200803,20200804,5328.0,16,2020-08-03,2020,5328.0
299,Hurricane Zeta (October 2020),Tropical Cyclone,20201028,20201029,4874.3,6,2020-10-28,2020,4874.3
20,Hurricane Juan (October 1985),Tropical Cyclone,19851027,19851031,4026.2,63,1985-10-27,1985,4026.2
61,Hurricane Marilyn (September 1995),Tropical Cyclone,19950915,19950917,4011.0,13,1995-09-15,1995,4011.0
114,Hurricane Dennis (July 2005),Tropical Cyclone,20050709,20050711,3742.5,15,2005-07-09,2005,3742.5
18,Hurricane Elena (September 1985),Tropical Cyclone,19850830,19850903,3515.9,4,1985-08-30,1985,3515.9
185,Hurricane Isaac (August 2012),Tropical Cyclone,20120826,20120831,3509.7,9,2012-08-26,2012,3509.7
175,Tropical Storm Lee (September 2011),Tropical Cyclone,20110901,20110905,3241.2,21,2011-09-01,2011,3241.2
36,Hurricane Bob (August 1991),Tropical Cyclone,19910818,19910820,3216.3,18,1991-08-18,1991,3216.3
298,Hurricane Delta (October 2020),Tropical Cyclone,20201009,20201011,3211.0,5,2020-10-09,2020,3211.0
19,Hurricane Gloria (September 1985),Tropical Cyclone,19850926,19850928,2311.5,11,1985-09-26,1985,2311.5
1,Hurricane Allen (August 1980),Tropical Cyclone,19800807,19800811,2071.0,13,1980-08-07,1980,2071.0
54,Tropical Storm Alberto (July 1994),Tropical Cyclone,19940707,19940710,1967.0,32,1994-07-07,1994,1967.0
96,Tropical Storm Isidore (September 2002),Tropical Cyclone,20020925,20020927,1851.5,5,2002-09-25,2002,1851.5
277,Hurricane Dorian (September 2019),Tropical Cyclone,20190828,20190906,1835.4,10,2019-08-28,2019,1835.4
95,Hurricane Lili (October 2002),Tropical Cyclone,20020801,20020805,1789.3,2,2002-08-01,2002,1789.3
76,Hurricane Bonnie (August 1998),Tropical Cyclone,19980827,19980829,1754.2,3,1998-08-27,1998,1754.2
139,Hurricane Dolly (July 2008),Tropical Cyclone,20080723,20080725,1685.5,3,2008-07-23,2008,1685.5
300,Tropical Storm Eta (November 2020),Tropical Cyclone,20201108,20201112,1635.2,12,2020-11-08,2020,1635.2
60,Hurricane Erin (August 1995),Tropical Cyclone,19950801,19950807,1623.5,6,1995-08-01,1995,1623.5
26,Tropical Storm Allison (June 1989),Tropical Cyclone,19890626,19890628,1380.6,11,1989-06-26,1989,1380.6
316,Tropical Storm Fred (August 2021),Tropical Cyclone,20210816,20210818,1366.6,7,2021-08-16,2021,1366.6
313,Tropical Storm Elsa (July 2021),Tropical Cyclone,20210707,20210709,1298.2,1,2021-07-07,2021,1298.2
75,Tropical Storm Frances (September 1998),Tropical Cyclone,19980808,19980813,1253.0,2,1998-08-08,1998,1253.0
293,Hurricane Hanna (July 2020),Tropical Cyclone,20200725,20200726,1204.0,0,2020-07-25,2020,1204.0
318,Hurricane Nicholas (September 2021),Tropical Cyclone,20210914,20210918,1087.2,0,2021-09-14,2021,1087.2

In [32]:
hurricanes.groupby("year").agg(annual_cost=pd.NamedAgg(column="cost", aggfunc=sum))

      annual_cost
year
1980       2071.0
1983       8760.0
1985       9853.6
1989      22440.4
1991       3216.3
1992      62307.0
1994       1967.0
1995      14543.6
1996       9263.0
1998      13719.4
1999      11294.4
2001      13976.1
2002       3640.8
2003       8664.8
2004      82846.9
2005     245161.6
2008      49860.0
2011      20648.5
2012      85459.7
2016      12100.0
2017     315350.0
2018      56811.0
2019       7535.4
2020      50400.3
2021      82474.3