In [1]:
%load_ext lab_black

In [2]:
import pandas as pd
import geopandas as gpd
import altair as alt
import altair_grid as altgrid
import numpy as np

/Users/alexleedsmatthews/.local/share/virtualenvs/notebooks-HSWNtBAS/lib/python3.8/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [3]:
alt.themes.register("grid", altgrid.theme)
alt.themes.enable("grid")

ThemeRegistry.enable('grid')

In [4]:
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 1000
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

In [5]:
today = pd.to_datetime("today").strftime("%Y-%m-%d")

In [6]:
from datawrapper import Datawrapper

dw = Datawrapper(
    access_token="FtIwtvFtoGLaRT9a3gjX69PLu4wSuRyKddoOz6SOPw3k9wWyNICMHTkcPhOGCR5Z"
)

In [7]:
gini = pd.read_csv("data/raw/DP_LIVE_22072022162730773.csv", dtype={"TIME": str})

In [8]:
gini[(gini["TIME"] == "2017") & (gini["SUBJECT"] == "GINI")].sort_values("Value")

In [9]:
gini[(gini["LOCATION"] == "CHN") & (gini["SUBJECT"] == "GINI")]

     LOCATION   INDICATOR SUBJECT MEASURE FREQUENCY  TIME  Value Flag Codes
2286      CHN  INCOMEINEQ    GINI    INEQ         A  2011  0.514        NaN

In [10]:
who_gini = pd.read_csv("data/raw/long_who_data.csv")
who_gini.columns = who_gini.columns.str.lower().str.replace(" ", "_")

In [11]:
who_gini_dw = who_gini[who_gini["gini_coeff"].notnull()]

In [12]:
all_countries = pd.read_csv(
    "data/raw/long_who_data_allcountries.csv", dtype={"year": str, "gini_coeff": float}
)

In [14]:
gini_2018 = all_countries[all_countries["year"] == "2018"]

In [15]:
gini_2018[gini_2018["gini_coeff"].notnull()].sort_values("gini_coeff")

In [16]:
# dw.add_data(chart_id="g6YgX", data=who_gini_dw)

In [18]:
all_countries["yeardate"] = pd.to_datetime(all_countries["year"])

In [30]:
target = ["SWE", "USA"]

In [31]:
us_swe = all_countries[
    (all_countries["Country Code"].isin(target))
    & (all_countries["yeardate"] >= "1995-01-01")
]

In [32]:
us_swe.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'year', 'gini', 'gini_coeff', 'yeardate'],
      dtype='object')

In [34]:
us_swe.pivot(index="year", columns="Country Code", values="gini_coeff").reset_index()

Country Code  year    SWE    USA
0             1995  0.252  0.399
1             1996    NaN  0.403
2             1997    NaN  0.405
3             1998    NaN  0.400
4             1999    NaN  0.400
5             2000  0.272  0.401
6             2001    NaN  0.406
7             2002    NaN  0.404
8             2003  0.253  0.408
9             2004  0.261  0.403
10            2005  0.268  0.410
11            2006  0.264  0.414
12            2007  0.271  0.408
13            2008  0.281  0.408
14            2009  0.273  0.406
15            2010  0.277  0.400
16            2011  0.276  0.409
17            2012  0.276  0.409
18            2013  0.288  0.407
19            2014  0.284  0.415
20            2015  0.292  0.412
21            2016  0.296  0.411
22            2017  0.288  0.412
23            2018  0.300  0.414
24            2019  0.293  0.415
25            2020    NaN    NaN
26            2021    NaN    NaN