#### setup

In [1]:
%load_ext lab_black

In [2]:
import requests
import urllib.request
import numpy as np
import datetime
import random

In [3]:
import pandas as pd
import gspread
from oauth2client.service_account import ServiceAccountCredentials

In [4]:
import altair as alt
import altair_stiles as altstiles

alt.themes.register("stiles", altstiles.theme)
alt.themes.enable("stiles")

ThemeRegistry.enable('grid')

In [5]:
from datawrapper import Datawrapper

dw = Datawrapper(
    access_token="FtIwtvFtoGLaRT9a3gjX69PLu4wSuRyKddoOz6SOPw3k9wWyNICMHTkcPhOGCR5Z"
)

In [6]:
scope = ["https://spreadsheets.google.com/feeds"]
credentials = ServiceAccountCredentials.from_json_keyfile_name(
    "jupyter-integration-credentials.json", scope
)
gc = gspread.authorize(credentials)

In [7]:
spreadsheet_key = "1_RXzXkHPEyDAiDKmz98wTSC9UNo-8OyjGTT540X_vJk"
book = gc.open_by_key(spreadsheet_key)

In [8]:
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 1000

#### get chinese real estate data from FRED

In [9]:
# chinese real estaee series=QCNR628BIS
import urllib.request, json

with urllib.request.urlopen(
    "https://api.stlouisfed.org/fred/series/observations?series_id=QCNR628BIS&api_key=b98b54e0ff7221aca6e1b161f5b12435&file_type=json"
) as url:
    data = json.loads(url.read().decode())
    print(data["observations"])

[{'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2005-04-01', 'value': '87.9389'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2005-07-01', 'value': '89.5385'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2005-10-01', 'value': '89.7531'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2006-01-01', 'value': '88.5259'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2006-04-01', 'value': '90.6989'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2006-07-01', 'value': '92.4696'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2006-10-01', 'value': '92.4653'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2007-01-01', 'value': '90.7212'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2007-04-01', 'value': '92.6815'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2007-07-01', 'value': '93.1592'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2007-10-01', 'value': '94.4012'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2008-01-01', 'value': '91.8193'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2008-04-01', 'value': '92.6727'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2008-07-01', 'value': '93.3268'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2008-10-01', 'value': '93.6743'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2009-01-01', 'value': '92.2225'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2009-04-01', 'value': '93.6717'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2009-07-01', 'value': '95.6501'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2009-10-01', 'value': '97.3105'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2010-01-01', 'value': '98.4735'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2010-04-01', 'value': '100.8828'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2010-07-01', 'value': '100.6863'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2010-10-01', 'value': '99.9567'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2011-01-01', 'value': '99.1303'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2011-04-01', 'value': '99.3206'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2011-07-01', 'value': '98.4475'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2011-10-01', 'value': '97.691'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2012-01-01', 'value': '95.6197'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2012-04-01', 'value': '95.5019'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2012-07-01', 'value': '95.5411'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2012-10-01', 'value': '95.3065'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2013-01-01', 'value': '95.1775'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2013-04-01', 'value': '98.2811'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2013-07-01', 'value': '100.0002'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2013-10-01', 'value': '101.0075'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2014-01-01', 'value': '100.7564'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2014-04-01', 'value': '101.2468'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2014-07-01', 'value': '98.563'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2014-10-01', 'value': '95.9492'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2015-01-01', 'value': '93.7709'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2015-04-01', 'value': '93.8266'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2015-07-01', 'value': '93.8349'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2015-10-01', 'value': '94.2606'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2016-01-01', 'value': '94.9079'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2016-04-01', 'value': '97.163'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2016-07-01', 'value': '99.1113'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2016-10-01', 'value': '100.9353'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2017-01-01', 'value': '101.1971'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2017-04-01', 'value': '103.498'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2017-07-01', 'value': '104.2826'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2017-10-01', 'value': '104.23'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2018-01-01', 'value': '103.5605'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2018-04-01', 'value': '105.8085'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2018-07-01', 'value': '108.0749'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2018-10-01', 'value': '109.4393'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2019-01-01', 'value': '109.4596'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2019-04-01', 'value': '110.5545'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2019-07-01', 'value': '110.3498'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2019-10-01', 'value': '108.7458'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2020-01-01', 'value': '107.1624'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2020-04-01', 'value': '109.9365'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2020-07-01', 'value': '110.3166'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2020-10-01', 'value': '111.1863'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2021-01-01', 'value': '110.565'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2021-04-01', 'value': '112.6115'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2021-07-01', 'value': '112.9903'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2021-10-01', 'value': '111.0794'}, {'realtime_start': '2022-08-25', 'realtime_end': '2022-08-25', 'date': '2022-01-01', 'value': '109.3374'}]

In [10]:
frames = []
for point in data["observations"]:
    frames.append(pd.DataFrame(point, index=[0]))

In [11]:
df = pd.concat(frames).reset_index(drop=True)

In [12]:
dw.add_data(chart_id="ZnOCh", data=df[["date", "value"]])

from source

In [13]:
df_yoy = pd.read_excel(
    "https://www.bis.org/statistics/pp/pp_selected.xlsx",
    sheet_name="Quarterly Series",
    skiprows=3,
)[["Period", "Q:CN:R:771"]]

In [14]:
df_yoy.dtypes

Period        datetime64[ns]
Q:CN:R:771           float64
dtype: object

In [15]:
dw.add_data(
    chart_id="rFdW6",
    data=(df_yoy[(~df_yoy["Q:CN:R:771"].isna()) & (df_yoy["Period"] >= "2010-01-01")]),
)

#### real estate github

In [54]:
df = pd.read_json(
    "https://raw.githubusercontent.com/WeNeedHome/SummaryOfLoanSuspension/main/data/generated/cities-for-visualization.json"
)

In [55]:
df[["longitude", "latitude"]] = pd.json_normalize(df["pos"])

In [ ]:
#dw.add_data(chart_id="a3ySL", data=df)

summary info

In [57]:
df["city"].nunique()

98

In [60]:
df["count"].sum()

328

In [65]:
city_ck = ["长沙市", "衡阳市", "郑州市", "成都市"]

In [67]:
df[df["city"].isin(city_ck)]

,province,city,pos,count,district,longitude,latitude
43,河南省,郑州市,"{'lng': 113.38324, 'lat': 34.786948}",1,荥阳市,113.383240,34.786948
45,河南省,郑州市,"{'lng': 113.625328, 'lat': 34.746611}",44,NaN,113.625328,34.746611
57,湖南省,衡阳市,"{'lng': 112.953168, 'lat': 27.08117}",1,衡东县,112.953168,27.081170
58,湖南省,衡阳市,"{'lng': 112.572018, 'lat': 26.893368}",1,NaN,112.572018,26.893368
60,湖南省,长沙市,"{'lng': 113.643076, 'lat': 28.162833}",1,浏阳市,113.643076,28.162833
65,湖南省,长沙市,"{'lng': 112.938884, 'lat': 28.22808}",11,NaN,112.938884,28.228080
100,四川省,成都市,"{'lng': 104.066794, 'lat': 30.572893}",9,NaN,104.066794,30.572893
102,四川省,成都市,"{'lng': 103.647153, 'lat': 30.988767}",1,都江堰市,103.647153,30.988767

In [20]:
df.to_csv("data/processed/realestate.csv")

In [22]:
cities = (
    df.groupby("city").agg(total=pd.NamedAgg(column="count", aggfunc=sum)).reset_index()
)

In [23]:
# You can also do it like this:

# cities = (
#     df.groupby(["city"]).agg({'count': sum}).reset_index()
# )

In [51]:
cities.sort_values("total", ascending=False).reset_index()

In [53]:
cities["city"].nunique()

98

In [25]:
cities["cityname"] = cities["city"].str.strip("市")

In [26]:
city_details = pd.read_table(
    "https://raw.githubusercontent.com/public-wheels/china-cities/master/china_cities.txt"
).rename(
    columns={
        "英文": "cityname_eng",
        "中文": "cityname",
        "纬度": "latitude",
        "经度": "longitude",
    }
)

In [27]:
# This is why:
city_details[city_details["cityname_eng"] == "zhongshan"]

,城市/地区编码,cityname_eng,cityname,国家代码,国家英文,国家中文,省英文,省中文,所属上级市英文,所属上级市中文,latitude,longitude
322,CN101070208,zhongshan,中山,CN,China,中国,liaoning,辽宁,dalian,大连,38.921553,121.643760
2513,CN101260805,zhongshan,钟山,CN,China,中国,guizhou,贵州,liupanshui,六盘水,26.584805,104.846244
2842,CN101281701,zhongshan,中山,CN,China,中国,guangdong,广东,zhongshan,中山,22.521113,113.382391
3073,CN101300704,zhongshan,钟山,CN,China,中国,guangxi,广西,hezhou,贺州,24.528566,111.303629

In [28]:
city_details[city_details["cityname_eng"] == "xian"]

,城市/地区编码,cityname_eng,cityname,国家代码,国家英文,国家中文,省英文,省中文,所属上级市英文,所属上级市中文,latitude,longitude
137,CN101050311,xian,西安,CN,China,中国,heilongjiang,黑龙江,mudanjiang,牡丹江,44.581032,129.613110
286,CN101060705,xian,西安,CN,China,中国,jilin,吉林,liaoyuan,辽源,42.920415,125.151424
829,CN101110101,xian,西安,CN,China,中国,shan-xi,陕西,xian,西安,34.263161,108.948024

In [29]:
final = cities.merge(city_details, on="cityname").drop(
    columns=["城市/地区编码", "国家代码", "国家英文", "省英文", "省中文", "所属上级市英文", "所属上级市中文", "国家中文"]
)

In [30]:
final["cityname_eng"] = final["cityname_eng"].str.title()

In [31]:
dw.add_data(chart_id="HTJiI", data=final)

why are there duplicates for zhongshan and xian?

In [32]:
final.dtypes

city             object
total             int64
cityname         object
cityname_eng     object
latitude        float64
longitude       float64
dtype: object

nbs data

In [33]:
# Opening the worksheet by using Worksheet ID
workbook = gc.open_by_key(spreadsheet_key)
# Selecting which sheet to pulling the data
sheet = workbook.worksheet("Sheet1")
# Pulling the data and transform it to the data frame
values = sheet.get_all_values()
nbs = pd.DataFrame(values[1:], columns=values[0]).transpose()

In [34]:
nbs.columns = nbs.iloc[0]
df = nbs[1:].reset_index().rename(columns={"index": "month"})

In [35]:
df["date"] = pd.to_datetime(df["month"], format="%b %Y")

In [36]:
df.sort_values("date", ascending=True)

Indicators     month    started completed       sold       date
90          Jan 2015          0         0          0 2015-01-01
89          Feb 2015    9851.53   7804.44    4982.92 2015-02-01
88          Mar 2015   16791.32  12392.49   10062.17 2015-03-01
87          Apr 2015   25081.11  15526.96   14915.75 2015-04-01
86          May 2015    35090.6  19598.76   20731.52 2015-05-01
85          Jun 2015   46890.84  24354.42   28941.12 2015-06-01
84          Jul 2015   56684.05  28077.44   34884.45 2015-07-01
83          Aug 2015   65829.51  31494.47   40724.07 2015-08-01
82          Sep 2015      79345  37791.74      47898 2015-09-01
81          Oct 2015    87752.7  45235.05   54702.71 2015-10-01
80          Nov 2015   97076.57  53553.47   62532.34 2015-11-01
79          Dec 2015   106651.3  73777.36      72753 2015-12-01
78          Jan 2016          0         0          0 2016-01-01
77          Feb 2016   10811.49  10127.38    7435.28 2016-02-01
76          Mar 2016   19271.04  14509.05      16133 2016-03-01
75          Apr 2016   29606.28  18621.77   24070.32 2016-04-01
74          May 2016   40767.29  23438.16   31800.08 2016-05-01
73          Jun 2016   53433.11  29023.95   41801.92 2016-06-01
72          Jul 2016   64101.65  33781.69   49272.65 2016-07-01
71          Aug 2016   73563.38  37238.84   57043.17 2016-08-01
70          Sep 2016   84680.82  42068.08   68610.71 2016-09-01
69          Oct 2016   94995.62   47827.6   78023.15 2016-10-01
68          Nov 2016  104775.57  56379.15   87120.88 2016-11-01
67          Dec 2016     115911     77185      99064 2016-12-01
66          Jan 2017          0         0          0 2017-01-01
65          Feb 2017   12410.23  11674.18    9120.87 2017-02-01
64          Mar 2017   22750.71  16499.92   19398.99 2017-03-01
63          Apr 2017   34799.86  20108.91   27950.84 2017-04-01
62          May 2017   46902.97  24231.51   36655.76 2017-05-01
61          Jun 2017   61398.81  29760.38   49298.05 2017-06-01
60          Jul 2017   71745.69  33543.19   57087.49 2017-07-01
59          Aug 2017   82131.21  37413.45   65155.73 2017-08-01
58          Sep 2017   94112.69  41260.09   76442.27 2017-09-01
57          Oct 2017  104125.41  46558.69   85532.32 2017-10-01
56          Nov 2017   116089.4   54058.8   95762.08 2017-11-01
55          Dec 2017  128097.78  71815.12  110239.51 2017-12-01
54          Jan 2018          0         0          0 2018-01-01
53          Feb 2018   13031.53   9681.88   10552.74 2018-02-01
52          Mar 2018   25531.27  14197.56   21608.69 2018-03-01
51          Apr 2018   38079.09  17337.51   30613.77 2018-04-01
50          May 2018   53097.76  21138.18    41349.9 2018-05-01
49          Jun 2018   70610.71  25961.89   56604.29 2018-06-01
48          Jul 2018   84684.81  29462.51   66328.09 2018-07-01
47          Aug 2018   98306.99  32459.52   75831.12 2018-08-01
46          Sep 2018  112410.87  36165.67    88364.2 2018-09-01
45          Oct 2018  123874.66  40701.77   98354.86 2018-10-01
44          Nov 2018  138535.53  47178.15  109946.88 2018-11-01
43          Dec 2018  153352.57  66015.75   126392.6 2018-12-01
42          Jan 2019          0         0          0 2019-01-01
41          Feb 2019   13596.56   8925.56   11027.79 2019-02-01
40          Mar 2019   28466.61  13043.11   23239.37 2019-03-01
39          Apr 2019   43334.64  16040.11   33869.78 2019-04-01
38          May 2019   59124.72  18834.63   45020.66 2019-05-01
37          Jun 2019   77997.85   22929.1   61344.93 2019-06-01
36          Jul 2019   92826.47  26373.69   72430.63 2019-07-01
35          Aug 2019  107052.97  29336.15   83317.09 2019-08-01
34          Sep 2019  122308.45  33084.32   97496.55 2019-09-01
33          Oct 2019  136936.72  38474.17  108947.77 2019-10-01
32          Nov 2019   151447.4  45274.19  121705.86 2019-11-01
31          Dec 2019  167463.43  68011.11  139439.97 2019-12-01
30          Jan 2020          0         0          0 2020-01-01
29          Feb 2020    7559.46   6760.93    7197.59 2020-02-01
28          Mar 2020   20799.45  10927.81   17934.36 2020-03-01
27          Apr 2020   35248.31  13709.33   28290.63 2020-04-01
26          May 2020   50887.63  16775.43   41249.79 2020-05-01
25          Jun 2020   71582.86  20680.37   59633.44 2020-06-01
24          Jul 2020    88089.1  23685.14   72686.46 2020-07-01
23          Aug 2020  102485.89  26498.31   86769.37 2020-08-01
22          Sep 2020  117193.05  29597.21   103497.4 2020-09-01
21          Oct 2020  132481.09  35442.72  117923.06 2020-10-01
20          Nov 2020  147343.57  42654.98   133246.8 2020-11-01
19          Dec 2020  164328.53  65910.03  154566.96 2020-12-01
18          Jan 2021          0         0          0 2021-01-01
17          Feb 2021    12735.8   9862.01   17526.31 2021-02-01
16          Mar 2021   27056.81  13887.57   35055.38 2021-03-01
15          Apr 2021    40334.6  16551.23   49009.68 2021-04-01
14          May 2021   55514.74  19880.26   64570.35 2021-05-01
13          Jun 2021   75514.87  26253.82   84632.72 2021-06-01
12          Jul 2021   88473.99   30125.2   96746.61 2021-07-01
11          Aug 2021  100765.33  33771.05  108061.55 2021-08-01
10          Sep 2021  113374.46  36816.18  121957.26 2021-09-01
9           Oct 2021  123480.57  41415.46  132902.15 2021-10-01
8           Nov 2021  135017.36  49582.28  145597.34 2021-11-01
7           Dec 2021  146378.56   73016.2   162729.9 2021-12-01
6           Jan 2022          0         0          0 2022-01-01
5           Feb 2022   10835.67   8914.78   13652.36 2022-02-01
4           Mar 2022   21558.38  12322.65   26072.56 2022-03-01
3           Apr 2022   28876.56  14661.72   33248.49 2022-04-01
2           May 2022   37782.31  17049.73   42317.29 2022-05-01
1           Jun 2022   48800.48  20858.26   57682.71 2022-06-01
0           Jul 2022   55918.75   23279.5   66328.47 2022-07-01

In [37]:
df = df[["date", "sold", "started", "completed"]]

In [38]:
df["sold"] = df["sold"].astype(float) / 100
df["started"] = df["started"].astype(float) / 100
df["completed"] = df["completed"].astype(float) / 100

In [ ]:
dw.add_data(chart_id="ljQcp", data=df)

In [40]:
sold = df[["date", "sold"]].sort_values("date", ascending=True)
sold["type"] = "sold"
sold["monthly"] = sold["sold"] - sold["sold"].shift(periods=1)

In [42]:
started = df[["date", "started"]].rename(columns={"started": "value"})
started["type"] = "started"

In [43]:
completed = df[["date", "completed"]].rename(columns={"completed": "value"})
completed["type"] = "completed"

In [44]:
df_long = pd.concat([sold, started, completed])

In [68]:
alt.Chart(df_long).mark_area().encode(
    x="date", y="rollmean", color="type", row="type"
).properties(height=100)

ValueError: rollmean encoding field is specified without a type; the type cannot be inferred because it does not match any column in the data.

alt.Chart(...)

In [46]:
alt.Chart(df_long).mark_line(point=True).encode(
    x=alt.X("date"), y=alt.Y("value"), color="type"
)

alt.Chart(...)

In [47]:
grouped_col["y"] = 2

NameError: name 'grouped_col' is not defined

In [ ]:
base_chart = (
    alt.Chart(grouped_col)
    .mark_bar()
    .encode(
        x=alt.X("date", stack="normalize"),
        y=alt.Y("y"),
        color=alt.Color(
            ("value"),
            scale=alt.Scale(scheme="teals", reverse=False),
        ),
    )
    .properties(width=35, height=100)
)

alt.layer(base_chart, data=grouped_col).facet("type")

In [ ]:
base_chart = (
    alt.Chart(df_long)
    .mark_bar()
    .encode(
        x=alt.X("date", stack="normalize"),
        y=alt.Y("y"),
        color=alt.Color(
            ("value"),
            scale=alt.Scale(scheme="teals", reverse=False),
        ),
    )
    .properties(width=75, height=100)
)

alt.layer(base_chart, data=df_long).facet("type")