# Get public metrics about about a Twitter user

In [1]:
import pandas as pd
import os
import requests

In [1]:
%load_ext lab_black

---

#### Get the archive timeseries of followers

In [34]:
archive_df = pd.read_csv('data/processed/stiles_followers_archive.csv')

In [35]:
archive_df.head()

   followers_count  following_count  tweet_count  listed_count        date
0            11763             2928        19099           854  2022-11-08

---

#### Get the latest follower counts

In [36]:
today = pd.Timestamp("today").strftime("%Y-%m-%d")

In [37]:
username = 'stiles'

In [38]:
BEARER_TOKEN = os.getenv('twitter_bearer_token')

headers = {
    'Authorization': f"Bearer {BEARER_TOKEN}",
}

response = requests.get(f'https://api.twitter.com/2/users/by/username/{username}?user.fields=created_at,description,entities,id,location,name,pinned_tweet_id,profile_image_url,protected,public_metrics,url,username,verified,withheld&expansions=pinned_tweet_id', headers=headers)

In [39]:
latest_df = pd.DataFrame(response.json()['data']['public_metrics'], index=[0])

In [40]:
latest_df['date'] = today

In [41]:
latest_df

   followers_count  following_count  tweet_count  listed_count        date
0            11763             2928        19099           854  2022-11-08

---

#### Append latests to the archive

In [44]:
df = pd.concat([archive_df, latest_df]).reset_index(drop=True).drop_duplicates(subset='date')

In [45]:
df.head()

   followers_count  following_count  tweet_count  listed_count        date
0            11763             2928        19099           854  2022-11-08

---

#### Export

In [46]:
df.to_csv(f'data/processed/{username}_followers.csv', index=False)

In [47]:
df.to_csv(f'data/processed/{username}_followers_archive.csv', index=False)

In [48]:
latest_df.to_csv(f'data/processed/timeseries/{username}_followers_{today}.csv', index=False)