## Processing LAPD twitter

In [1]:
import altair as alt
import pandas as pd
import matplotlib as mpl
import numpy as np
import json
from datetime import datetime
import altair_latimes as lat
alt.themes.register('latimes', lat.theme)
alt.themes.enable('latimes')

ThemeRegistry.enable('latimes')

### Get the archive

In [2]:
src = pd.read_json('../../twint/LAPDHQ.json', convert_dates=['created_at', 'date', 'time'], dtype={'timezone':str}, date_unit='s', lines=True)

In [3]:
src.sort_values('date', ascending=False).head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1439097407346647044,1439097404700037120,2021-09-17 22:22:13 PDT,2021-09-17,22:22:13,-0700,115705583,lapdhq,LAPD HQ,,...,,,,,,[],,,,
40,1439097407346647044,1439097404700037120,2021-09-17 22:22:13 PDT,2021-09-17,22:22:13,-0700,115705583,lapdhq,LAPD HQ,,...,,,,,,[],,,,
49,1438941077919047680,1438941077919047680,2021-09-17 12:01:01 PDT,2021-09-17,12:01:01,-0700,115705583,lapdhq,LAPD HQ,,...,,,,,,[],,,,
48,1438962738005377025,1438962738005377024,2021-09-17 13:27:06 PDT,2021-09-17,13:27:06,-0700,115705583,lapdhq,LAPD HQ,,...,,,,,,[],,,,
47,1439059006304051205,1439059006304051200,2021-09-17 19:49:38 PDT,2021-09-17,19:49:38,-0700,115705583,lapdhq,LAPD HQ,,...,,,,,,[],,,,

### Clean up dates ...

In [4]:
src['date'] = pd.to_datetime(src['date'])
src['year'] = src['date'].dt.year
src['month'] = src['date'].dt.month
src['day'] = src['date'].dt.day

### ... and times

In [5]:
src['time'] = pd.to_datetime(src['time'])
src['hour'] = src['time'].dt.hour
src['minute'] = src['time'].dt.minute
src['time'] = src['time'].dt.time

In [6]:
src['id'] = src['id'].astype(str)
src['year'] = src['year'].astype(str)
src['month'] = src['month'].astype(str)
src['day'] = src['day'].astype(str)
src['hour'] = src['hour'].astype(str)

In [8]:
src.sort_values('date', ascending=False).head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,reply_to,retweet_date,translate,trans_src,trans_dest,year,month,day,hour,minute
0,1439097407346647044,1439097404700037120,2021-09-17 22:22:13 PDT,2021-09-17,22:22:13,-0700,115705583,lapdhq,LAPD HQ,,...,[],,,,,2021,9,17,22,22
40,1439097407346647044,1439097404700037120,2021-09-17 22:22:13 PDT,2021-09-17,22:22:13,-0700,115705583,lapdhq,LAPD HQ,,...,[],,,,,2021,9,17,22,22
49,1438941077919047680,1438941077919047680,2021-09-17 12:01:01 PDT,2021-09-17,12:01:01,-0700,115705583,lapdhq,LAPD HQ,,...,[],,,,,2021,9,17,12,1
48,1438962738005377025,1438962738005377024,2021-09-17 13:27:06 PDT,2021-09-17,13:27:06,-0700,115705583,lapdhq,LAPD HQ,,...,[],,,,,2021,9,17,13,27
47,1439059006304051205,1439059006304051200,2021-09-17 19:49:38 PDT,2021-09-17,19:49:38,-0700,115705583,lapdhq,LAPD HQ,,...,[],,,,,2021,9,17,19,49

In [9]:
src.reset_index().to_csv('output/lapdhq.csv', index=False)