# Get births data

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd

### Thanks, FiveThirtyEight, for sharing [this data](https://github.com/fivethirtyeight/data/tree/master/births)

In [3]:
urls = [
    {
        "year": "2000-2014",
        "url": "https://raw.githubusercontent.com/fivethirtyeight/data/master/births/US_births_2000-2014_SSA.csv",
    },
    {
        "year": "1994-2000",
        "url": "https://raw.githubusercontent.com/fivethirtyeight/data/master/births/US_births_1994-2003_CDC_NCHS.csv",
    },
]

### Read the csvs into a dataframe

In [4]:
data = []

for u in urls:
    data.append(pd.read_csv(u["url"]))

In [5]:
src = pd.concat(data).reset_index(drop=True)

### Sort it and make a copy for analysis

In [6]:
df = src.sort_values(["year", "month", "date_of_month", "day_of_week"]).copy()

In [7]:
df.head()

      year  month  date_of_month  day_of_week  births
5479  1994      1              1            6    8096
5480  1994      1              2            7    7772
5481  1994      1              3            1   10142
5482  1994      1              4            2   11248
5483  1994      1              5            3   11053

In [8]:
df.tail()

      year  month  date_of_month  day_of_week  births
5474  2014     12             27            6    8656
5475  2014     12             28            7    7724
5476  2014     12             29            1   12811
5477  2014     12             30            2   13634
5478  2014     12             31            3   11990

In [9]:
df.to_csv("data/processed/daily_births_1994-2014.csv", index=False)