In [1]:
import pandas as pd
import matplotlib
import json
import numpy as np
from altair import datum
import altair as alt
# alt.renderers.enable('notebook')
import altair_latimes as lat
alt.themes.register('latimes', lat.theme)
alt.themes.enable('latimes')

ThemeRegistry.enable('latimes')

In [50]:
# https://data.lacounty.gov/Human-Resources/LA-County-Employee-Salaries/8rdv-6nb6
src = pd.read_csv('/Users/mhustiles/data/data/LA/LA_County_Employee_Salaries.csv')

In [51]:
payroll = src

In [52]:
payroll.columns = payroll.columns.str.strip().str.lower().str.replace(' ', '_')\
    .str.replace('(', '').str.replace(')', '')

In [53]:
payroll_grouped = payroll.groupby(['employee_name', 'department']).agg('size')\
    .sort_values(ascending=False).reset_index(name='total')

In [54]:
payroll_person = payroll[(payroll['employee_last_name'] == 'BURCIAGA') \
                         & (payroll['employee_first_name'] == 'SERGIO') ]

In [55]:
payroll_person.to_csv('payroll_person.csv')

In [56]:
alt.Chart(payroll_person).mark_bar().encode(
    x=alt.X('year:N', title=''),
    y=alt.Y('total_earnings:Q', title='', axis=alt.Axis(format='$,N', tickCount=5))
).properties(width=350,height=300, title='Total earnings')

alt.Chart(...)

In [57]:
payroll.dtypes

year                         int64
employee_last_name          object
employee_first_name         object
middle_initial              object
position_title              object
department                  object
base_earnings              float64
overtime_earnings          float64
other_earnings             float64
leave_time_payouts         float64
total_earnings             float64
medical,_dental,_vision    float64
retirement_surcharge       float64
pension_contributions      float64
deferred_contributions     float64
ltd_life_&_medical_tax     float64
other_benefits             float64
total_benefits             float64
total_compensation         float64
employee_name               object
dtype: object

In [58]:
public_health = payroll[(payroll['department'].str.contains('Public Health Programs'))]

In [59]:
departments = payroll.groupby('department').agg('size').reset_index(name='count')

In [60]:
departments[departments['department'].str.contains('Health')]

                                           department  count
47                                    Health Services   7652
48  Health Services - Integrated Correctional Heal...   2077
53                     Juvenile Court Health Services   1130
55                         LAC+USC Healthcare Network  42622
61                                      Mental Health  23107
82                             Public Health Programs  14036

In [61]:
public_health.sort_values(by='year', ascending=False)

,year,employee_last_name,employee_first_name,middle_initial,position_title,department,base_earnings,overtime_earnings,other_earnings,leave_time_payouts,total_earnings,"medical,_dental,_vision",retirement_surcharge,pension_contributions,deferred_contributions,ltd_life_&_medical_tax,other_benefits,total_benefits,total_compensation,employee_name
477856,2017,ARELLANO,FLORENCIA,NaN,ADMINISTRATIVE ASSISTANT III,Public Health Programs,77107.00,0.00,2652.00,0.0,79758.00,8365.00,0.0,13169.00,0.00,973.00,117.00,22624.00,102382.00,FLORENCIA ARELLANO
478503,2017,FEE,GEORGE,J,ENVIRONMENTAL HEALTH SPECIALIST III,Public Health Programs,80217.00,195.00,3906.00,0.0,84318.00,0.00,0.0,13522.00,3209.00,1664.00,36.00,18431.00,102749.00,GEORGE FEE
478512,2017,HO,Y.,ALEX,SUPERVISING EPIDEMIOLOGIST,Public Health Programs,109451.00,0.00,12579.00,0.0,122030.00,13548.00,0.0,19775.00,9500.00,3002.00,1079.00,46904.00,168934.00,Y. HO
478511,2017,MOORE,CHRISTOPHER,NaN,COMMUNITY SERVICES COUNSELOR,Public Health Programs,50272.00,61.00,2123.00,0.0,52457.00,8562.00,0.0,9205.00,525.00,1035.00,49.00,19376.00,71833.00,CHRISTOPHER MOORE
478510,2017,MARTIN,HOWARD,B,COMMUNITY SERVICES COUNSELOR,Public Health Programs,51341.00,0.00,1761.00,0.0,53101.00,9062.00,0.0,8527.00,0.00,1166.00,49.00,18804.00,71905.00,HOWARD MARTIN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55438,2013,PANLILIO,MARIVIC,G,PUBLIC HEALTH MICROBIOLOGIST I,Public Health Programs,71501.52,0.00,1615.05,0.0,73116.57,17251.80,0.0,12256.10,2477.55,339.55,90.48,32415.48,105532.05,MARIVIC PANLILIO
55437,2013,PANICCIA,RACHELLE,A,ENVIRONMENTAL HEALTH SPECIALIST II,Public Health Programs,64735.62,1066.12,2598.08,0.0,68399.82,6019.92,0.0,10913.90,2240.30,1187.96,75.00,20437.08,88836.90,RACHELLE PANICCIA
55436,2013,PANGUITO JR,RAFAEL,F,ACCOUNTANT III,Public Health Programs,63104.44,364.20,1567.70,0.0,65036.34,17251.80,0.0,11438.93,1297.07,1346.54,120.48,31454.82,96491.16,RAFAEL PANGUITO JR
55435,2013,PALMER,MICHAEL,NaN,INFORMATION SYSTEMS ANALYST II,Public Health Programs,80724.30,3568.85,1979.04,0.0,86272.19,17901.84,0.0,14836.59,0.00,103.51,45.48,32887.42,119159.61,MICHAEL PALMER
524107,2013,NaN,NaN,NaN,INTERMEDIATE TYPIST-CLERK,Public Health Programs,23377.73,0.00,1321.69,0.0,24699.42,6384.07,0.0,5087.75,0.00,486.40,48.84,12007.06,36706.48,NaN