# SSA Popular Baby Names

### Import Python tools and Jupyter configuration

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd
import altair as alt
import datetime as dt
import glob
import os
import requests

In [3]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 1000
alt.data_transformers.disable_max_rows()
pd.options.display.max_colwidth = None

In [4]:
today = dt.datetime.today().strftime("%Y-%m-%d")

---

### Download [latest batch](https://www.ssa.gov/oact/babynames/limits.html) of names data from SSA

In [5]:
!curl -s 'https://www.ssa.gov/oact/babynames/names.zip' --output data/raw/names.zip

In [6]:
!unzip -o -q 'data/raw/names.zip' -d 'data/raw/years'

In [7]:
!cat data/raw/years/*.txt > 'data/raw/all.txt'

---

In [29]:
path = "data/raw/years"
all_files = glob.glob(os.path.join(path, "*.txt"))

df_from_each_file = (
    pd.read_csv(
        f,
        encoding="ISO-8859-1",
        header=None,
        sep=",",
        low_memory=False,
        names=["name", "sex", "count"],
    ).assign(year=f)
    for f in all_files
)
names = pd.concat(df_from_each_file, ignore_index=True)

In [30]:
names["year"] = (
    names["year"]
    .str.replace("data/raw/years/yob", "", regex=True)
    .str.replace(".txt", "", regex=True)
)

In [31]:
names.head(15)

         name sex  count  year
0       Emily   F  25959  2000
1      Hannah   F  23086  2000
2     Madison   F  19968  2000
3      Ashley   F  17998  2000
4       Sarah   F  17713  2000
5      Alexis   F  17631  2000
6    Samantha   F  17264  2000
7     Jessica   F  15711  2000
8   Elizabeth   F  15116  2000
9      Taylor   F  15079  2000
10     Lauren   F  14176  2000
11     Alyssa   F  13553  2000
12      Kayla   F  13313  2000
13    Abigail   F  13094  2000
14    Brianna   F  12880  2000

### Limit names since 1950

In [35]:
names[names["year"].astype(int) >= 1900].head()

      name sex  count  year
0    Emily   F  25959  2000
1   Hannah   F  23086  2000
2  Madison   F  19968  2000
3   Ashley   F  17998  2000
4    Sarah   F  17713  2000

---

### Get birth totals for normalization

In [33]:
url = "https://www.ssa.gov/oact/babynames/numberUSbirths.html"

In [13]:
births = pd.read_html(url)[0]

In [14]:
births = births.rename(
    columns={
        "Year of  birth": "year",
        "Male": "male",
        "Female": "female",
        "Total": "total",
    },
)

In [15]:
births["year"] = births.year.astype(str)

In [16]:
births

     year     male   female    total
0    1880   118399    97605   216004
1    1881   108276    98855   207131
2    1882   122031   115694   237725
3    1883   112475   120060   232535
4    1884   122738   137585   260323
5    1885   115945   141947   257892
6    1886   119041   153734   272775
7    1887   109311   155423   264734
8    1888   129907   189445   319352
9    1889   119032   189218   308250
10   1890   119700   201663   321363
11   1891   109265   196566   305831
12   1892   131452   224913   356365
13   1893   121041   225232   346273
14   1894   124892   235972   360864
15   1895   126642   247106   373748
16   1896   129070   251993   381063
17   1897   121942   248275   370217
18   1898   132099   274146   406245
19   1899   115194   247489   362683
20   1900   162124   317738   479862
21   1901   115592   254229   369821
22   1902   132750   280330   413080
23   1903   129322   278196   407518
24   1904   138503   292435   430938
25   1905   143233   309863   453096
26   1906   144066   313434   457500
27   1907   158584   337433   496017
28   1908   166367   354530   520897
29   1909   176863   368094   544957
30   1910   208516   419526   628042
31   1911   241395   441817   683212
32   1912   451456   586715  1038171
33   1913   536247   654914  1191161
34   1914   683320   796628  1479948
35   1915   880925  1023862  1904787
36   1916   923241  1085716  2008957
37   1917   959307  1123689  2082996
38   1918  1048651  1202356  2251007
39   1919  1015326  1174637  2189963
40   1920  1100782  1244033  2344815
41   1921  1137930  1279718  2417648
42   1922  1125197  1247576  2372773
43   1923  1132274  1252464  2384738
44   1924  1169032  1295673  2464705
45   1925  1151420  1263079  2414499
46   1926  1145443  1230173  2375616
47   1927  1161918  1236441  2398359
48   1928  1141164  1195532  2336696
49   1929  1107607  1157552  2265159
50   1930  1129513  1166456  2295969
51   1931  1069775  1103718  2173493
52   1932  1074434  1106297  2180731
53   1933  1020192  1046039  2066231
54   1934  1061935  1082341  2144276
55   1935  1069593  1086768  2156361
56   1936  1064299  1077556  2141855
57   1937  1093644  1101846  2195490
58   1938  1136492  1141451  2277943
59   1939  1133305  1134069  2267374
60   1940  1186169  1181346  2367515
61   1941  1254859  1245992  2500851
62   1942  1408298  1390474  2798772
63   1943  1454616  1435403  2890019
64   1944  1389159  1366527  2755686
65   1945  1371451  1346111  2717562
66   1946  1650391  1612905  3263296
67   1947  1857580  1817871  3675451
68   1948  1782748  1742683  3525431
69   1949  1802001  1755515  3557516
70   1950  1818806  1758529  3577335
71   1951  1911680  1847272  3758952
72   1952  1973288  1901993  3875281
73   1953  2002214  1929506  3931720
74   1954  2069135  1990843  4059978
75   1955  2090260  2004901  4095161
76   1956  2146229  2059534  4205763
77   1957  2188901  2098135  4287036
78   1958  2154872  2065751  4220623
79   1959  2166475  2078611  4245086
80   1960  2165354  2079741  4245095
81   1961  2156992  2077143  4234135
82   1962  2101687  2026891  4128578
83   1963  2064633  1988078  4052711
84   1964  2027035  1957358  3984393
85   1965  1894602  1827463  3722065
86   1966  1817631  1755771  3573402
87   1967  1779431  1716836  3496267
88   1968  1775439  1709684  3485123
89   1969  1829161  1762735  3591896
90   1970  1904778  1831855  3736633
91   1971  1817868  1752596  3570464
92   1972  1674047  1612552  3286599
93   1973  1613640  1554107  3167747
94   1974  1630250  1566255  3196505
95   1975  1622400  1560867  3183267
96   1976  1632590  1571897  3204487
97   1977  1709358  1645001  3354359
98   1978  1708609  1643893  3352502
99   1979  1791321  1723277  3514598
100  1980  1854762  1780645  3635407
101  1981  1862382  1788511  3650893
102  1982  1887182  1814286  3701468
103  1983  1863586  1789670  3653256
104  1984  1876702  1803315  3680017
105  1985  1924408  1846316  3770724
106  1986  1921688  1845491  3767179
107  1987  1950208  1874217  3824425
108  1988  2002269  1923113  3925382
109  1989  2095982  1992183  4088165
110  1990  2152030  2054400  4206430
111  1991  2119686  2033422  4153108
112  1992  2099169  2004676  4103845
113  1993  2065518  1971534  4037052
114  1994  2038349  1949381  3987730
115  1995  2011365  1921557  3932922
116  1996  2003728  1917238  3920966
117  1997  1997783  1909245  3907028
118  1998  2027644  1938504  3966148
119  1999  2039003  1946801  3985804
120  2000  2088325  1995743  4084068
121  2001  2068408  1980939  4049347
122  2002  2066658  1975012  4041670
123  2003  2101163  2006445  4107608
124  2004  2113357  2017809  4131166
125  2005  2127339  2029572  4156911
126  2006  2192365  2090521  4282886
127  2007  2215072  2116502  4331574
128  2008  2180420  2082870  4263290
129  2009  2120914  2025080  4145994
130  2010  2054412  1960686  4015098
131  2011  2031414  1937692  3969106
132  2012  2029180  1939467  3968647
133  2013  2020699  1927676  3948375
134  2014  2049216  1956322  4005538
135  2015  2044439  1950871  3995310
136  2016  2025629  1935879  3961508
137  2017  1979121  1889159  3868280
138  2018  1943744  1859655  3803399
139  2019  1921774  1834876  3756650
140  2020  1849670  1767691  3617361
141  2021  1873605  1791567  3665172
142  2022  1872977  1793069  3666046
143  2023  1831150  1749200  3580350

---

### Merge the dataframes together

In [39]:
df = pd.merge(names, births, on="year")

In [40]:
df.head()

      name sex  count  year     male   female    total
0    Emily   F  25959  2000  2088325  1995743  4084068
1   Hannah   F  23086  2000  2088325  1995743  4084068
2  Madison   F  19968  2000  2088325  1995743  4084068
3   Ashley   F  17998  2000  2088325  1995743  4084068
4    Sarah   F  17713  2000  2088325  1995743  4084068

### Calculate rate

In [43]:
# Calculate the percentage of births with the specific name
df["name_percentage"] = df.apply(
    lambda row: (
        round((row["count"] / row["female"] * 100), 2)
        if row["sex"] == "F"
        else round((row["count"] / row["male"] * 100), 2)
    ),
    axis=1,
)

# Calculate the number of births per 100,000
df["name_per_100k"] = df.apply(
    lambda row: (
        round((row["count"] / row["female"] * 100000), 2)
        if row["sex"] == "F"
        else round((row["count"] / row["male"] * 100000), 2)
    ),
    axis=1,
)

In [49]:
df.query('name == "Taylor" and sex == "F"').sort_values("year")

,name,sex,count,year,male,female,total,name_percentage,name_per_100k
1198379,Taylor,F,7,1951,1911680,1847272,3758952,0.00,0.38
1350729,Taylor,F,5,1954,2069135,1990843,4059978,0.00,0.25
1621920,Taylor,F,6,1956,2146229,2059534,4205763,0.00,0.29
1499483,Taylor,F,8,1957,2188901,2098135,4287036,0.00,0.38
778747,Taylor,F,6,1958,2154872,2065751,4220623,0.00,0.29
920504,Taylor,F,11,1960,2165354,2079741,4245095,0.00,0.53
856244,Taylor,F,7,1961,2156992,2077143,4234135,0.00,0.34
952184,Taylor,F,6,1962,2101687,2026891,4128578,0.00,0.30
1011598,Taylor,F,5,1963,2064633,1988078,4052711,0.00,0.25
787928,Taylor,F,14,1964,2027035,1957358,3984393,0.00,0.72
749305,Taylor,F,11,1966,1817631,1755771,3573402,0.00,0.63
680086,Taylor,F,13,1967,1779431,1716836,3496267,0.00,0.76
1360281,Taylor,F,9,1968,1775439,1709684,3485123,0.00,0.53
1463943,Taylor,F,18,1969,1829161,1762735,3591896,0.00,1.02
800070,Taylor,F,19,1970,1904778,1831855,3736633,0.00,1.04
814577,Taylor,F,22,1971,1817868,1752596,3570464,0.00,1.26
760557,Taylor,F,20,1972,1674047,1612552,3286599,0.00,1.24
663255,Taylor,F,27,1973,1613640,1554107,3167747,0.00,1.74
902237,Taylor,F,39,1974,1630250,1566255,3196505,0.00,2.49
864918,Taylor,F,37,1975,1622400,1560867,3183267,0.00,2.37
929805,Taylor,F,68,1976,1632590,1571897,3204487,0.00,4.33
1017414,Taylor,F,122,1977,1709358,1645001,3354359,0.01,7.42
1318076,Taylor,F,123,1978,1708609,1643893,3352502,0.01,7.48
1166500,Taylor,F,149,1979,1791321,1723277,3514598,0.01,8.65
1542300,Taylor,F,235,1980,1854762,1780645,3635407,0.01,13.20
1561551,Taylor,F,388,1981,1862382,1788511,3650893,0.02,21.69
1441319,Taylor,F,604,1982,1887182,1814286,3701468,0.03,33.29
1368459,Taylor,F,686,1983,1863586,1789670,3653256,0.04,38.33
1100362,Taylor,F,869,1984,1876702,1803315,3680017,0.05,48.19
1080237,Taylor,F,1052,1985,1924408,1846316,3770724,0.06,56.98
1204281,Taylor,F,1215,1986,1921688,1845491,3767179,0.07,65.84
1276289,Taylor,F,1705,1987,1950208,1874217,3824425,0.09,90.97
981786,Taylor,F,2800,1988,2002269,1923113,3925382,0.15,145.60
957978,Taylor,F,4069,1989,2095982,1992183,4088165,0.20,204.25
1119648,Taylor,F,7261,1990,2152030,2054400,4206430,0.35,353.44
1054910,Taylor,F,10253,1991,2119686,2033422,4153108,0.50,504.22
1224742,Taylor,F,14952,1992,2099169,2004676,4103845,0.75,745.86
1250164,Taylor,F,21270,1993,2065518,1971534,4037052,1.08,1078.86
1515591,Taylor,F,20734,1994,2038349,1949381,3987730,1.06,1063.62
1580528,Taylor,F,20425,1995,2011365,1921557,3932922,1.06,1062.94
1414518,Taylor,F,19153,1996,2003728,1917238,3920966,1.00,998.99
1387544,Taylor,F,19502,1997,1997783,1909245,3907028,1.02,1021.45
688671,Taylor,F,18575,1998,2027644,1938504,3966148,0.96,958.21
716582,Taylor,F,16905,1999,2039003,1946801,3985804,0.87,868.35
9,Taylor,F,15079,2000,2088325,1995743,4084068,0.76,755.56
130934,Taylor,F,13692,2001,2068408,1980939,4049347,0.69,691.19
252309,Taylor,F,11468,2002,2066658,1975012,4041670,0.58,580.65
193909,Taylor,F,10314,2003,2101163,2006445,4107608,0.51,514.04
628540,Taylor,F,9302,2004,2113357,2017809,4131166,0.46,461.00
483749,Taylor,F,8676,2005,2127339,2029572,4156911,0.43,427.48
349735,Taylor,F,8564,2006,2192365,2090521,4282886,0.41,409.66
415438,Taylor,F,7965,2007,2215072,2116502,4331574,0.38,376.33
1797280,Taylor,F,8344,2008,2180420,2082870,4263290,0.40,400.60
1627392,Taylor,F,7589,2009,2120914,2025080,4145994,0.37,374.75
594453,Taylor,F,5900,2010,2054412,1960686,4015098,0.30,300.92
516331,Taylor,F,5193,2011,2031414,1937692,3969106,0.27,268.00
315982,Taylor,F,4869,2012,2029180,1939467,3968647,0.25,251.05
450448,Taylor,F,4145,2013,2020699,1927676,3948375,0.22,215.03
29853,Taylor,F,3816,2014,2049216,1956322,4005538,0.20,195.06
97815,Taylor,F,3754,2015,2044439,1950871,3995310,0.19,192.43
282954,Taylor,F,3280,2016,2025629,1935879,3961508,0.17,169.43
161316,Taylor,F,2704,2017,1979121,1889159,3868280,0.14,143.13
1994566,Taylor,F,2497,2018,1943744,1859655,3803399,0.13,134.27
2085227,Taylor,F,2047,2019,1921774,1834876,3756650,0.11,111.56
1765871,Taylor,F,1742,2020,1849670,1767691,3617361,0.10,98.55
1662291,Taylor,F,1544,2021,1873605,1791567,3665172,0.09,86.18
1832570,Taylor,F,1369,2022,1872977,1793069,3666046,0.08,76.35
1913858,Taylor,F,1185,2023,1831150,1749200,3580350,0.07,67.75

---

#### Normalized for TikTok vid

In [50]:
# Load the data
ssa_applications_url = (
    "https://stilesdata.com/babynames/us_ssa_applications_birth_years.json"
)
population_url = "https://stilesdata.com/babynames/us_population_years_census.json"

ssa_applications = pd.read_json(ssa_applications_url)
population = pd.read_json(population_url)

# Convert the 'year' column to integers
ssa_applications["year"] = ssa_applications["year"].astype(int)
population["year"] = population["year"].astype(int)

# Filter the data to start from the year 1900
ssa_applications = ssa_applications[ssa_applications["year"] >= 1900]

# Merge the two dataframes on the 'year' column
merged_data = pd.merge(ssa_applications, population, on="year", how="left")

# Normalize the SSA applications by population per 1 million
merged_data["male_per_million"] = (
    merged_data["male"] / merged_data["population"]
) * 1e6
merged_data["female_per_million"] = (
    merged_data["female"] / merged_data["population"]
) * 1e6

# Fill any NaN values resulting from the merge with 0
merged_data.fillna(0, inplace=True)

# Save the processed data to a JSON file
normalized_data = merged_data[["year", "male_per_million", "female_per_million"]].query(
    "year > 1899 and year < 2023"
)
normalized_data.to_json(
    "data/processed/normalized_ssa_applications_per_million.json", orient="records"
)

---

### Export

In [51]:
df.to_csv("data/processed/names_births.csv", index=False)

In [52]:
births.to_json(
    "data/processed/us_ssa_applications_birth_years.json",
    indent=4,
    orient="records",
    lines=False,
)