# SSA Popular Baby Names

### Import Python tools and Jupyter configuration

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd
import altair as alt
import datetime as dt
import glob
import os

In [3]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 1000
alt.data_transformers.disable_max_rows()
pd.options.display.max_colwidth = None

In [4]:
today = dt.datetime.today().strftime("%Y-%m-%d")

---

### Download [latest batch](https://www.ssa.gov/oact/babynames/limits.html) of names data from SSA

In [5]:
!curl -s 'https://www.ssa.gov/oact/babynames/names.zip' --output data/raw/names.zip

In [6]:
!unzip -o -q 'data/raw/names.zip' -d 'data/raw/years'

In [7]:
!cat data/raw/years/*.txt > 'data/raw/all.txt'

---

In [8]:
path = "data/raw/years"
all_files = glob.glob(os.path.join(path, "*.txt"))

df_from_each_file = (
    pd.read_csv(
        f,
        encoding="ISO-8859-1",
        header=None,
        sep=",",
        low_memory=False,
        names=["name", "sex", "count"],
    ).assign(year=f)
    for f in all_files
)
names = pd.concat(df_from_each_file, ignore_index=True)

In [9]:
names["year"] = (
    names["year"]
    .str.replace("data/raw/years/yob", "", regex=True)
    .str.replace(".txt", "", regex=True)
)

In [10]:
names.head(15)

         name sex  count  year
0       Emily   F  25957  2000
1      Hannah   F  23085  2000
2     Madison   F  19968  2000
3      Ashley   F  17998  2000
4       Sarah   F  17712  2000
5      Alexis   F  17631  2000
6    Samantha   F  17265  2000
7     Jessica   F  15711  2000
8   Elizabeth   F  15113  2000
9      Taylor   F  15079  2000
10     Lauren   F  14175  2000
11     Alyssa   F  13553  2000
12      Kayla   F  13312  2000
13    Abigail   F  13093  2000
14    Brianna   F  12880  2000

### Limit names since 1950

In [11]:
names[names["year"].astype(int) >= 1950].tail()

           name sex  count  year
2085153  Zyheem   M      5  2019
2085154   Zykel   M      5  2019
2085155  Zyking   M      5  2019
2085156     Zyn   M      5  2019
2085157   Zyran   M      5  2019

---

### Get birth totals for normalization

In [12]:
url = "https://www.ssa.gov/oact/babynames/numberUSbirths.html"

In [13]:
births = pd.read_html(url)[0]

In [14]:
births = births.rename(
    columns={
        "Year of  birth": "year",
        "Male": "male",
        "Female": "female",
        "Total": "total",
    },
)

In [15]:
births["year"] = births.year.astype(str)

In [16]:
births

     year     male   female    total
0    1880   118399    97606   216005
1    1881   108279    98855   207134
2    1882   122031   115694   237725
3    1883   112475   120060   232535
4    1884   122738   137585   260323
5    1885   115945   141947   257892
6    1886   119041   153734   272775
7    1887   109311   155423   264734
8    1888   129906   189445   319351
9    1889   119032   189218   308250
10   1890   119700   201662   321362
11   1891   109265   196565   305830
12   1892   131452   224913   356365
13   1893   121041   225232   346273
14   1894   124892   235972   360864
15   1895   126642   247106   373748
16   1896   129070   251993   381063
17   1897   121942   248275   370217
18   1898   132100   274146   406246
19   1899   115193   247490   362683
20   1900   162125   317739   479864
21   1901   115592   254229   369821
22   1902   132749   280330   413079
23   1903   129322   278196   407518
24   1904   138503   292435   430938
25   1905   143233   309864   453097
26   1906   144066   313434   457500
27   1907   158584   337434   496018
28   1908   166368   354531   520899
29   1909   176863   368094   544957
30   1910   208517   419526   628043
31   1911   241396   441818   683214
32   1912   451455   586715  1038170
33   1913   536247   654914  1191161
34   1914   683321   796627  1479948
35   1915   880925  1023862  1904787
36   1916   923243  1085717  2008960
37   1917   959311  1123690  2083001
38   1918  1048652  1202353  2251005
39   1919  1015328  1174640  2189968
40   1920  1100787  1244035  2344822
41   1921  1137931  1279719  2417650
42   1922  1125196  1247574  2372770
43   1923  1132284  1252465  2384749
44   1924  1169038  1295675  2464713
45   1925  1151433  1263083  2414516
46   1926  1145444  1230173  2375617
47   1927  1161920  1236428  2398348
48   1928  1141152  1195530  2336682
49   1929  1107623  1157553  2265176
50   1930  1129505  1166452  2295957
51   1931  1069755  1103721  2173476
52   1932  1074417  1106288  2180705
53   1933  1020176  1046028  2066204
54   1934  1061909  1082331  2144240
55   1935  1069555  1086755  2156310
56   1936  1064289  1077533  2141822
57   1937  1093642  1101846  2195488
58   1938  1136473  1141455  2277928
59   1939  1133287  1134065  2267352
60   1940  1186146  1181333  2367479
61   1941  1254828  1245984  2500812
62   1942  1408270  1390478  2798748
63   1943  1454599  1435364  2889963
64   1944  1389127  1366508  2755635
65   1945  1371438  1346109  2717547
66   1946  1650356  1612907  3263263
67   1947  1857546  1817861  3675407
68   1948  1782741  1742661  3525402
69   1949  1801978  1755519  3557497
70   1950  1818854  1758517  3577371
71   1951  1911703  1847290  3758993
72   1952  1973310  1901995  3875305
73   1953  2002244  1929481  3931725
74   1954  2069132  1990880  4060012
75   1955  2090320  2004888  4095208
76   1956  2146232  2059576  4205808
77   1957  2189235  2098257  4287492
78   1958  2153692  2065457  4219149
79   1959  2166550  2078537  4245087
80   1960  2165553  2079906  4245459
81   1961  2156300  2076787  4233087
82   1962  2101859  2026948  4128807
83   1963  2064873  1988090  4052963
84   1964  2027134  1957369  3984503
85   1965  1894769  1827443  3722212
86   1966  1817739  1755732  3573471
87   1967  1779548  1716835  3496383
88   1968  1775650  1709671  3485321
89   1969  1829426  1762759  3592185
90   1970  1905089  1831878  3736967
91   1971  1818092  1752565  3570657
92   1972  1674317  1612568  3286885
93   1973  1613887  1554124  3168011
94   1974  1630448  1566256  3196704
95   1975  1622734  1560900  3183634
96   1976  1632869  1571931  3204800
97   1977  1709610  1645038  3354648
98   1978  1708916  1643932  3352848
99   1979  1791599  1723343  3514942
100  1980  1855065  1780679  3635744
101  1981  1862606  1788529  3651135
102  1982  1887384  1814307  3701691
103  1983  1863748  1789652  3653400
104  1984  1876804  1803286  3680090
105  1985  1924443  1846298  3770741
106  1986  1921690  1845474  3767164
107  1987  1950199  1874175  3824374
108  1988  2002202  1923057  3925259
109  1989  2095978  1992164  4088142
110  1990  2151934  2054356  4206290
111  1991  2119610  2033387  4152997
112  1992  2099089  2004628  4103717
113  1993  2065404  1971476  4036880
114  1994  2038287  1949318  3987605
115  1995  2011290  1921498  3932788
116  1996  2003648  1917180  3920828
117  1997  1997737  1909184  3906921
118  1998  2027577  1938457  3966034
119  1999  2038934  1946732  3985666
120  2000  2088235  1995651  4083886
121  2001  2068324  1980832  4049156
122  2002  2066468  1974855  4041323
123  2003  2101026  2006315  4107341
124  2004  2113203  2017674  4130877
125  2005  2127131  2029377  4156508
126  2006  2192113  2090245  4282358
127  2007  2214774  2116187  4330961
128  2008  2180083  2082515  4262598
129  2009  2120579  2024712  4145291
130  2010  2054055  1960275  4014330
131  2011  2030967  1937266  3968233
132  2012  2028691  1938960  3967651
133  2013  2020097  1927071  3947168
134  2014  2048553  1955680  4004233
135  2015  2043679  1950105  3993784
136  2016  2024751  1935017  3959768
137  2017  1978015  1888197  3866212
138  2018  1942474  1858402  3800876
139  2019  1920128  1833330  3753458
140  2020  1847516  1765764  3613280
141  2021  1870906  1788994  3659900
142  2022  1863582  1784437  3648019

In [17]:
births.head(15)

    year    male  female   total
0   1880  118399   97606  216005
1   1881  108279   98855  207134
2   1882  122031  115694  237725
3   1883  112475  120060  232535
4   1884  122738  137585  260323
5   1885  115945  141947  257892
6   1886  119041  153734  272775
7   1887  109311  155423  264734
8   1888  129906  189445  319351
9   1889  119032  189218  308250
10  1890  119700  201662  321362
11  1891  109265  196565  305830
12  1892  131452  224913  356365
13  1893  121041  225232  346273
14  1894  124892  235972  360864

---

### Merge the dataframes together

In [18]:
df = pd.merge(names, births, on="year")

In [19]:
df.head()

      name sex  count  year     male   female    total
0    Emily   F  25957  2000  2088235  1995651  4083886
1   Hannah   F  23085  2000  2088235  1995651  4083886
2  Madison   F  19968  2000  2088235  1995651  4083886
3   Ashley   F  17998  2000  2088235  1995651  4083886
4    Sarah   F  17712  2000  2088235  1995651  4083886

### Calculate rate

In [20]:
df["prop"] = df["count"] * 1.0 / df["total"]
df["fprop"] = df[df["sex"] == "F"]["count"] / df[df["sex"] == "F"]["female"]
df["mprop"] = df[df["sex"] == "M"]["count"] / df[df["sex"] == "M"]["male"]

In [21]:
df.head()

,name,sex,count,year,male,female,total,prop,fprop,mprop
0,Emily,F,25957,2000,2088235,1995651,4083886,0.006356,0.013007,NaN
1,Hannah,F,23085,2000,2088235,1995651,4083886,0.005653,0.011568,NaN
2,Madison,F,19968,2000,2088235,1995651,4083886,0.004889,0.010006,NaN
3,Ashley,F,17998,2000,2088235,1995651,4083886,0.004407,0.009019,NaN
4,Sarah,F,17712,2000,2088235,1995651,4083886,0.004337,0.008875,NaN

---

### Export

In [22]:
df.to_csv("data/processed/names_births.csv", index=False)